<!doctype html>
<html lang="en">
  <head>
    <!-- REMOVE THIS! -->
    <script src="http://localhost:8098"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Gage Data</title>
    <link rel="stylesheet" href="../../../dist/analysis_webpack.css">
    <link rel="stylesheet" href="../index.css">
  </head>
  <body>
    
    <!-- Begin main page content -->
    <div class="container-fluid" role="main">
      <h1>Analysis</h1>
      <p><a href="index.html">Home</a></p>
      
      <div class="row">
        <!-- Navigation - switch between different tables/items to update -->
        <div class="col-3">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-conversion-tab" data-toggle="pill" 
              href="#v-pills-conversion" role="tab" aria-controls="v-pills-conversion" 
              aria-selected="true">Conversion Tables</a>
            <!-- <a class="nav-link" id="v-pills-pdfReports-tab" data-toggle="pill"  -->
              <!-- href="#v-pills-pdfReports" role="tab" aria-controls="v-pills-pdfReports"  -->
              <!-- aria-selected="true">PDF Reports</a> -->
          </div>
        </div>
        
        <!-- Content - forms that show details about each of the tables/items -->
        <div class="col-9">
          <div class="tab-content" id="v-pills-tabContent">
            
            <!-- Conversion tables -->
            <div class="tab-pane fade show active" id="v-pills-conversion" role="tabpanel" 
              aria-labelledby="v-pills-conversion-tab">
              
              <h2>Conversion Tables</h2>
              <p>Create a new data record from an existing one, using a conversion table.</p>
              
              <div id="conversion-narrative" class="alert"
                v-bind:class="narrativeClass"> 
                {{ notificationText }}
              </div>
              
              <div class="form-group row">
                <div id="conversionChartContainer" class="col-12"
                  v-show="showGraph">
                  <svg :width="outsideWidth" :height="outsideHeight">
                    <g :transform="`translate(${margin.left},${margin.top})`">
                      <g v-axis:x="scale" :transform="`translate(0,${svgHeight})`">
                      </g>
                      <g v-axis:y="scale">
                      </g>
                      <path fill="none" stroke="steelblue" stroke-width="1.5" 
                        :d="oldLine" />
                      <path fill="none" stroke="orange" stroke-width="1.5" 
                        :d="newLine" />
                    </g>
                  </svg>
                </div>
              </div>
              
              <form id="eq-selectHeader">
                <fieldset id="conversionFieldset" :disabled="formDisable">
                  <div class="form-group row">
                    <label for="oldDRSelect" class="col-sm-2 col-form-label">Source Data Record</label>
                    <div class="col-sm-10">
                      <select class="form-control" id="oldDRSelect" 
                        :disabled="formDisable"
                        v-model="oldDRID" 
                        v-select="oldDRID">
                        <option 
                          v-for="dr in drs" 
                          v-bind:value="dr.MetadataID" 
                          v-bind:key="dr.MetadataID">
                          {{ dr.Metaname }}
                        </option>
                      </select>
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="newDRSelect" class="col-sm-2 col-form-label">Destination Data Record</label>
                    <div class="col-sm-10">
                      <select class="form-control" id="newDRSelect" 
                        :disabled="formDisable"
                        v-model="newDRID" 
                        v-select="newDRID">
                        <option 
                          v-for="dr in drs" 
                          v-bind:value="dr.MetadataID" 
                          v-bind:key="dr.MetadataID">
                          {{ dr.Metaname }}
                        </option>
                      </select>
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="conversionTableSelect" class="col-sm-2 col-form-label">Conversion Table</label>
                    <div class="col-sm-10">
                      <select class="form-control" id="conversionTableSelect" 
                        :disabled="formDisable"
                        v-model="ConversionID" 
                        v-select="ConversionID">
                        <option 
                          v-for="conversion in conversions" 
                          v-bind:value="conversion.ConversionID" 
                          v-bind:key="conversion.ConversionID">
                          {{ conversion.ConversionName }}
                        </option>
                      </select>
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="fromDate" class="col-sm-2 col-form-label">From</label>
                    <div class="col-sm-10">
                      <datetime type='datetime' input-class="form-control" input-id="fromDate"
                        v-model="fromDate" :value-zone="utcZoneString" :zone="utcZoneString"></datetime>
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="toDate" class="col-sm-2 col-form-label">To</label>
                    <div class="col-sm-10">
                      <datetime type='datetime' input-class="form-control" input-id="toDate"
                        v-model="toDate" :value-zone="utcZoneString" :zone="utcZoneString"></datetime>
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="offset" class="col-sm-2 col-form-label">Offset</label>
                    <div class="col-sm-3">
                      <input type='number' 
                        class="form-control" 
                        id="offset"
                        v-model="offset"></input>
                    </div>
                    <div class="col-sm-2">&nbsp;</div>                    
                    <label for="drift" class="col-sm-2 col-form-label">Drift</label>
                    <div class="col-sm-3">
                      <input type='number' 
                        class="form-control" 
                        id="drift"
                        v-model="drift"></input>
                    </div>
                  </div>
                  
                  <hr>
                </fieldset>
              </form>
              
              <div class="form-row">
                <div class="col-md-6">
                  <button id="conversion-convert" type="button" class="btn btn-primary"
                    @click="clickConvert()" :disabled='convertButtonDisable'> {{ convertButtonText }}</button>
                </div>
                
                <div class="col-md-6">
                  <button id="conversion-cancel" type="button" class="btn btn-secondary float-right" 
                    @click="cancelConversion()" :disabled="!converting">Cancel</button>
                </div>
              </div>
              
            </div>

            <div class="tab-pane fade" id="v-pills-pdfReports" role="tabpanel" 
              aria-labelledby="v-pills-pdfReports-tab">
              
              <h2>PDF Reports</h2>
              
              <button id="conversion-convert" type="button" class="btn btn-primary"
                @click="clickCreate()">Create</button>
              
            </div>

          </div>
        </div>
    </div>
    
    <footer class="footer fixed-bottom">
      <div class="container-fluid">
        <div class="row">

        </div>
      </div>
    </footer>
    
  </body>
  <script src="../../../dist/analysis_webpack.js"></script>
</html>