<!doctype html>
<html lang="en">
  <head>
    <!-- REMOVE! -->
    <script src="http://localhost:8098"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Gage Data</title>
    <link rel="stylesheet" href="../../../dist/data_webpack.css">
    <link rel="stylesheet" href="../index.css">
  </head>
  
  <body>
    
    <div id="everythingContainer">
    
      <!-- Data upload modal -->
      <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Upload Data</h5>
              <button id="uploadClose" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            
            <div class="modal-body">
              <data-csv-load SamplePointID=""></data-csv-load>
              <!-- <div class="container-fluid"> -->
                  
                  <!-- <div id="uploadAlert" class="row alert alert-info" role="alert"> -->
                      <!-- Load data from a CSV file -->
                  <!-- </div> -->
                  
                  <!-- <div id="uploadCSVContainer"> -->
                    <!-- <div class="row"> -->
                      <!-- <div class="col-6"> -->
                        <!-- <button id="openCSVFileButton" type="button" class="btn btn-primary">Open CSV</button> -->
                      <!-- </div> -->
                      
                      <!-- <div class="col-6"> -->
                        <!-- <button  -->
                          <!-- id="newSingleMeasurementButton"  -->
                          <!-- type="button"  -->
                          <!-- class="btn btn-primary float-right" -->
                          <!-- @click="showSingleMeasurement()">Single Measurement</button> -->
                      <!-- </div> -->
                    <!-- </div> -->
                  <!-- </div> -->
                  
                  <!-- <div id="addSingleMeasurement" class="d-none"> -->
                    <!-- <form> -->
                      <!-- <div id="singleMeasurementForm" class="row"> -->
                        <!-- <label for="singleMeasurementMeta">Data Record</label> -->
                        <!-- <select class="form-control"  -->
                          <!-- id="singleMeasurementMeta" -->
                          <!-- v-model="singleMeasureData.metaid"> -->
                          <!-- <option  -->
                            <!-- v-for="meta in metasFromSite"  -->
                            <!-- v-bind:value="meta.MetadataID"> -->
                              <!-- {{ meta.Parameter + ' (' + meta.Method + ')'  }} -->
                          <!-- </option> -->
                        <!-- </select> -->
                      <!-- </div> -->
                      
                      <!-- <div class="row"> -->
                        <!-- <label for="singleMeasureDate">Date and Time  -->
                          <!-- <small class="text-muted">(year-month-day hour:minute)</small></label> -->
                        <!-- <input  -->
                          <!-- id="singleMeasureDate" -->
                          <!-- type="text" -->
                          <!-- class="vdatetime-input form-control" -->
                          <!-- v-model="singleMeasureData.datestr" -->
                          <!-- @change="singleMeasureDTMChange()"></input> -->
                      <!-- </div> -->
                      
                      <!-- <div class="row"> -->
                        <!-- <label for="singleMeasureVal">Value</label> -->
                        <!-- <input id="singleMeasureVal" type="number" class="form-control"  -->
                          <!-- v-model="singleMeasureData.measurements[0].Value"></input> -->
                      <!-- </div> -->
                      
                      <!-- <div class="row"> -->
                        <!-- <label for="singleMeasureDepth">Depth (meters)</label> -->
                        <!-- <input id="singleMeasureDepth" type="number" class="form-control"  -->
                          <!-- v-model="singleMeasureData.measurements[0].Depth_M"></input> -->
                      <!-- </div> -->
                      
                      <!-- <div class="row"> -->
                        <!-- <label for="singleMeasureQualifier">Qualifier</label> -->
                        <!-- <select class="form-control"  -->
                          <!-- id="singleMeasureQualifier" -->
                          <!-- v-model="singleMeasureData.measurements[0].QualifierID"> -->
                          <!-- <option  -->
                            <!-- v-for="q in qualifiers"  -->
                            <!-- v-bind:value="q.QualifierID" > -->
                              <!-- {{ q.Code }} -->
                          <!-- </option> -->
                        <!-- </select> -->
                      <!-- </div> -->
                      
                      <!-- <div class="row"> -->
                        <!-- <label for="singleMeasureDuplicate">Duplicate</label> -->
                        <!-- <input id="singleMeasureDuplicate" type="checkbox" class="form-control"  -->
                          <!-- v-model="singleMeasureData.measurements[0].Duplicate"></input> -->
                      <!-- </div> -->
                      
                      <!-- <div class="row"> -->
                        <!-- <label for="singleMeasureLabBatch">Lab Batch</label> -->
                        <!-- <input id="singleMeasureLabBatch" type="text" class="form-control"  -->
                          <!-- v-model="singleMeasureData.measurements[0].LabBatch"></input> -->
                      <!-- </div> -->
                      
                      <!-- <div class="row"> -->
                        <!-- <label for="singleMeasureSymbol">Symbol (=, &lt;, or &gt;)</label> -->
                        <!-- <input id="singleMeasureSymbol" type="text" class="form-control"  -->
                          <!-- maxlength="1" size="1" -->
                          <!-- v-model="singleMeasureData.measurements[0].Symbol"></input> -->
                      <!-- </div> -->
                      
                      <!-- <div class="row"> -->
                        <!-- <label for="singleMeasureNote">Note</label> -->
                        <!-- <textarea  -->
                          <!-- id="singleMeasureNote" -->
                          <!-- rows="3" -->
                          <!-- class="vdatetime-input form-control" -->
                          <!-- v-model="singleMeasureData.measurements[0].Note"></textarea> -->
                      <!-- </div> -->
                      
                      <!-- <br> -->
                      
                      <!-- <div class="row"> -->
                        <!-- <div id="singleMeasureUploadBtn" class="col-12"> -->
                          <!-- <button  -->
                            <!-- class="btn btn-outline-primary float-right"  -->
                            <!-- type="button" -->
                            <!-- v-bind:disabled="singleMeasureData.datestr.length < 16" -->
                            <!-- @click="clickUploadSingleMeasure()"> {{ singleMeasureUploadBtnText }}</button> -->
                        <!-- </div> -->
                      <!-- </div> -->
                    <!-- </form> -->
                  <!-- </div> -->
                  
                  <!-- <div id="uploadColumnSelectContainer" class="d-none"> -->
                    <!-- <div id="uploadColumnSelectForm" class="row"> -->
                      <!-- <form> -->
                        <!-- <div class="form-group" -->
                          <!-- v-for="header in headers" -->
                          <!-- v-bind:key="header"> -->
                          <!-- <label v-bind:for="'uploadHeader' + header"> -->
                            <!-- {{ header.trim() }}</label> -->
                          <!-- <select class="form-control"  -->
                            <!-- v-bind:id="'uploadHeader' + header" -->
                            <!-- @change="reviewHeadingSelection($event, header)"> -->
                            <!-- <option  -->
                              <!-- v-for="meta in metas"  -->
                              <!-- v-bind:value="meta.MetadataID" -->
                              <!-- v-bind:data-frequency="meta.FrequencyMinutes"> -->
                                <!-- {{ typeof(meta.Method) == 'undefined' ? meta.Parameter : meta.Parameter + ' (' + meta.Method + ')' }} -->
                            <!-- </option> -->
                          <!-- </select> -->
                        <!-- </div> -->
                      <!-- </form> -->
                    <!-- </div> -->
                  <!-- </div> -->
                  
                  <!-- <div id="uploadReviewContainer" class="d-none"> -->
                    <!-- <div id="uploadReviewTabs"> -->
                      <!-- <ul id="uploadReviewTab" class="nav nav-tabs" role="tablist"> -->
                        <!-- <li v-for="header in headersWithMeta" -->
                          <!-- class="nav-item"> -->
                          <!-- <a  -->
                            <!-- class="nav-link"  -->
                            <!-- data-toggle="tab"  -->
                            <!-- role="tab"  -->
                            <!-- v-bind:id="header.name + '-tab'"  -->
                            <!-- v-bind:href="'#' + header.name"  -->
                            <!-- v-bind:aria-controls="header.name" -->
                          <!-- >{{ header.name.trim() }}</a> -->
                        <!-- </li> -->
                      <!-- </ul> -->
                      
                      <!-- <div class="tab-content" id="uploadReviewTabContent"> -->
                        <!-- <div  -->
                          <!-- v-for="header in headersWithMeta" -->
                          <!-- class="tab-pane fade"  -->
                          <!-- v-bind:id="header.name"  -->
                          <!-- role="tabpanel"  -->
                          <!-- v-bind:aria-labelledby="header.name + '-tab'"> -->
                          
                          <!-- <h5 class="row mt-3">{{ header.metaName }}</h5> -->
                          
                          <!-- <div v-bind:id="'graph' + header.name"></div> -->
                          
                          <!-- <table class="table"> -->
                            <!-- <tbody> -->
                              <!-- <tr> <th scope="row">Count</th>       <td>{{ header.measurements.length }}</tr> -->
                              <!-- <tr> <th scope="row">Sum</th>         <td>{{ header.csum.toFixed(2) }}</tr> -->
                              <!-- <tr> <th scope="row">Missing/Bad</th> <td>{{ header.cmis }}</tr> -->
                              <!-- <tr> <th scope="row">Max</th>         <td>{{ header.cmax }}</tr> -->
                              <!-- <tr> <th scope="row">Min</th>         <td>{{ header.cmin }}</tr> -->
                            <!-- </tbody> -->
                          <!-- </table> -->
                          
                          <!-- <form> -->
                            <!-- <div class="row"> -->
                              <!-- <div class="col-2"> -->
                                <!-- <label v-bind:for="'offset' + header.name">Offset</label> -->
                              <!-- </div> -->
                              <!-- <div class="col-3"> -->
                                <!-- <input  -->
                                  <!-- type="text"  -->
                                  <!-- class="form-control"  -->
                                  <!-- v-bind:id="'offset' + header.name"  -->
                                  <!-- placeholder="0"> -->
                              <!-- </div> -->
                              
                              <!-- <div class="col-2"> -->
                                <!-- <label v-bind:for="'drift' + header.name">Drift</label> -->
                              <!-- </div> -->
                              <!-- <div class="col-3"> -->
                                <!-- <input  -->
                                  <!-- type="text"  -->
                                  <!-- class="form-control"  -->
                                  <!-- v-bind:id="'drift' + header.name"  -->
                                  <!-- placeholder="0"> -->
                              <!-- </div> -->
                              
                              <!-- <div class="col-2"> -->
                                <!-- <button  -->
                                  <!-- v-bind:id="'adjust' + header.name"  -->
                                  <!-- @click="changeOffsetOrDrift(header.name, header.frequency, header.decimals)" -->
                                  <!-- type="button"  -->
                                  <!-- class="btn btn-primary float-right">Adjust</button> -->
                              <!-- </div> -->
                            <!-- </div> -->
                            
                            <!-- <br> -->
                            
                            <!-- <div class="row"> -->
                              <!-- <div class="col-10"> -->
                                <!-- <p>{{ header.notice }}</p> -->
                              <!-- </div> -->
                            
                              <!-- <div class="col-2"> -->
                                <!-- <button  -->
                                  <!-- v-bind:id="'upload' + header.name"  -->
                                  <!-- @click="clickUpload(header)" -->
                                  <!-- type="button"  -->
                                  <!-- class="btn btn-outline-primary float-right">  -->
                                    <!-- {{ header.nOverlap > 0 ? 'Delete' : 'Upload' }}  -->
                                <!-- </button> -->
                              <!-- </div> -->
                            <!-- </div> -->
                            
                            <!-- <br> -->
                            
                            <!-- <div class="progress"> -->
                            <!-- <div class="progress-bar" role="progressbar" -->
                              <!-- v-bind:style="{ width: uploadProgress + '%' }" -->
                              <!-- style = 'transition:none;'> -->
                              <!-- {{ uploadProgress }}%</div> -->
                            <!-- </div> -->
                            
                          <!-- </form> -->
                          
                        <!-- </div> -->
                      <!-- </div> -->
                      
                    <!-- </div> -->
                  <!-- </div> -->
                  
              <!-- </div> -->
              
              <!-- <div class="row"> -->
                <!-- <small id="uploadFileName" class="text-muted">{{ filePath }}</small> -->
              <!-- </div> -->
              
              <!-- <div class="modal-footer"> -->
                
                <!-- <button id="uploadBackButton" type="button" class="btn btn-primary" -->
                  <!-- @click="reset()">Restart</button> -->
                <!-- <button id="uploadNextButton" type="button" class="btn btn-primary" -->
                  <!-- v-bind:disabled="status != 'ready_to_upload'">Next</button> -->
                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>
      
      
      <div id="vueWrapper">
      
        <!-- Data download modal -->
        <div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Download Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              
              <div class="modal-body">
              
                <div id="downloadAlert" class="row alert alert-info" role="alert">
                  Download data to a local CSV file
                </div>
              
                <div id="downloadDateRow" class="form-group row">
                  <div class="col-5">
                    <label for="downloadStartDate">Start Date</label>
                    <input class="form-control" type="date" id="downloadStartDate"
                      v-model="downloadStartDateString"></input>
                  </div>
                  
                  <div class="col-5">
                    <label for="downloadEndDate">End Date</label>
                    <input class="form-control" type="date" id="downloadEndDate"
                      v-model="downloadEndDateString"></input>
                  </div>
                </div>
                
                <div id="downloadParameterRow" class="form-group row">
                  <div class="col">
                    <label for="downloadParameterSelect">Parameter</label>
                    <select id="downloadParameterSelect" class="form-control" style="width:100%; max-width:90%;" multiple="multiple">
                    </select>
                  </div>
                </div>
                
                <div id="downloadFileNameRow" class="form-group row">
                  <div class="col">
                    <label for="downloadFileName">File Name</label>
                    <input id="downloadFileName" class="form-control"
                      v-bind:value="config.userDefaultPath + 'data.csv'">
                    </input>
                  </div>
                </div>
                
              </div>
              
              <div class="modal-footer">
                <button id="downloadDataButton" type="button" class="btn btn-primary">Download CSV</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
              
            </div>
          </div>
        </div>
        
        <div class="modal fade" id="workupModal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Workups</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              
              <div class="modal-body">
                <div class="row"
                  v-for="workup in workups">
                  <div class='col'>
                    <h6> {{ workup.FileName }} </h6>
                    <p> {{  
                      `${workup.Name} - ${workup.DataStarts.toLocaleString()} to 
                      ${workup.DataEnds.toLocaleString()}; loaded on 
                      ${workup.LoadedOn.toLocaleString()}` }}
                    </p>
                  </div>
                </div>
              </div>
              
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
              
            </div>
          </div>
        </div>
        
        
        <!-- Begin main page content -->
        <div id="mainContainer">
          <div class="container-fluid" role="main">
            <h1>Data</h1>
            <p><a href="index.html">Home</a></p>
            
            <form>
            
              <div class="row">
                <div class="col">
                
                  <div class="form-group">
                    <select class="form-control" id="spSelect"
                      v-model="spID" 
                      v-select="spID"
                      v-on:change="changeSamplePoint()">
                      <option 
                        v-for="sp in samplePoints" 
                        v-bind:key="sp.SamplePointID"
                        v-bind:value="sp.SamplePointID">
                        {{ sp.Name }}</option>
                    </select>
                  </div>
                  
                  <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="spActiveCheck" checked
                      v-model="hideInactive"
                      v-on:change="getSamplePoints()">
                    <label class="form-check-label" for="spActiveCheck">Hide Inactive</label>
                  </div>
                  
                </div>
              </div>
              
              <div id="date-select-row" class="form-group row">
                <div class="col-5">
                  <label for="startDate">Start Date</label>
                  <input class="form-control" type="date" id="startDate"
                    v-bind:class="{ 'is-invalid': !downloadStartDateString }"
                    v-model="downloadStartDateString"></input>
                </div>
                
                <div class="col-5">
                  <label for="endDate">End Date</label>
                  <input class="form-control" type="date" id="endDate"
                    v-bind:class="{ 'is-invalid': !downloadEndDateString }"
                    v-model="downloadEndDateString"></input>
                </div>
              
              </form>
              
              <div class="col-2">
                <label for="wylist">Water Year</label>
                <select class="form-control" id="wylist">
                  <option></option>
                </select>
              </div>
            </div>
            
            <div class="row border-top">
              <div id="paramList" class="col-3">
                
                <div class="list-group list-group-flush">
                  <a href="#"
                    v-for="param in params"
                    @click="clickParameter(param, $event)"
                    class="list-group-item list-group-item-action py-0"
                    v-bind:class="{active: param.active}"
                    data-toggle="tooltip" v-tooltip:right="param.Method" >
                    <p>
                      <strong>{{ param.Name }}</strong>
                      <br>
                      <small>{{ param.nmeasure.toLocaleString() }}</small>
                      <small>{{ '(' + param.Unit.trim() + ')' }}</small>
                    </p>
                  </a>
                </div>
                
              </div>
              <div class="col-9">
                <h2 class="text-center"> {{ paramDetails.Name }} </h2>
                <div id="chartContainer">
                </div>
              </div>
            </div>
            
          </div>
          
          <footer class="footer fixed-bottom bg-light py-2">
            <div class="container-fluid">
              <div class="row">
                <div class="col-3 text-center">
                  <button 
                    type="button" 
                    class="btn btn-secondary btn-sm" 
                    data-toggle="modal" 
                    data-target="#uploadModal"
                    v-bind:disabled="spID == null"
                    >Upload Data</button>
                </div>  
                <div class="col-3 text-center">
                  <button 
                    type="button" 
                    class="btn btn-secondary btn-sm" 
                    data-toggle="modal" 
                    data-target="#downloadModal"
                    v-bind:disabled="spID == null">Download Data</button>
                </div>  
                <div class="col-3 text-center">
                  <button 
                    type="button" 
                    class="btn btn-secondary btn-sm" 
                    @click="clickCreateReport()"
                    v-bind:disabled="disableReport">Create Report</button>
                </div>  
                <div class="col-3 text-center">
                  <button 
                    type="button" 
                    class="btn btn-secondary btn-sm" 
                    data-toggle="modal" 
                    data-target="#workupModal"
                    v-bind:disabled="spID == null">Show Workups</button>
                </div>  
              </div>
            </div>
          </footer>
        </div>
        
      </div>
    </div>
    
  </body>
  <script src="../../../dist/data_webpack.js"></script>
</html>