<!doctype html>
<html lang="en">
  <head>
    <!-- REMOVE! -->
    <!-- <script src="http://localhost:8098"></script> -->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Gage Data</title>
    <link rel="stylesheet" href="../../../dist/data_webpack.css">
    <link rel="stylesheet" href="../index.css">
  </head>
  
  <body>
    
    <div id="everythingContainer">
    
      <!-- Data upload modal -->
      <div 
        class="modal fade" 
        id="uploadModal" 
        tabindex="-1" 
        role="dialog" 
        aria-hidden="true" 
        data-backdrop="static">
        <data-load
          v-on:close-modal="onPageLoad(spID)"
          :sample-point-id="spID">
        </data-load>
      </div>
      
      <div id="vueWrapper">
      
        <!-- Data download modal -->
        <div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Download Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              
              <div class="modal-body">
              
                <div id="downloadAlert" class="row alert alert-info" role="alert">
                  Download data to a local CSV file
                </div>
              
                <div id="downloadDateRow" class="form-group row">
                  <div class="col-5">
                    <label for="downloadStartDate">Start Date</label>
                    <input class="form-control" type="date" id="downloadStartDate"
                      v-model="downloadStartDateString"></input>
                  </div>
                  
                  <div class="col-5">
                    <label for="downloadEndDate">End Date</label>
                    <input class="form-control" type="date" id="downloadEndDate"
                      v-model="downloadEndDateString"></input>
                  </div>
                </div>
                
                <div id="downloadParameterRow" class="form-group row">
                  <div class="col">
                    <label for="downloadParameterSelect">Parameter</label>
                    <select 
                      id="downloadParameterSelect" 
                      class="form-control" 
                      style="width:100%; max-width:90%;" 
                      multiple="multiple">
                    </select>
                  </div>
                </div>
                
                <div id="downloadFileNameRow" class="form-group row">
                  <div class="col">
                    <label for="downloadFileName">File Path</label>
                    <input id="downloadFileName" class="form-control"
                      v-bind:value="config.userDefaultPath">
                    </input>
                  </div>
                </div>
                
              </div>
              
              <div class="modal-footer">
                <button id="downloadDataButton" type="button" class="btn btn-primary">Download CSV</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
              
            </div>
          </div>
        </div>
        
        <div class="modal fade" id="workupModal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Workups</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              
              <div class="modal-body">
                <data-metadata-modal 
                  :sample-point-id="spID">
              </div>
              
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
              
            </div>
          </div>
        </div>
        
        <!-- Begin main page content -->
        <div id="mainContainer">
          <div class="container-fluid" role="main">
            <h1>Data</h1>
            <p><a href="index.html">Home</a></p>
            
            <form>
            
              <div class="row">
                <div class="col">
                
                  <div class="form-group">
                    <v-select
                      id="samplePointSelect"
                      label="Name"
                      v-model="spID"
                      :options="samplePoints"
                      :reduce="sp => sp.SamplePointID">
                    </v-select>
                  </div>
                  
                  <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="spActiveCheck" checked
                      v-model="hideInactive"
                      v-on:change="updateSamplePointSelect()">
                    <label class="form-check-label" for="spActiveCheck">Hide Inactive</label>
                  </div>
                  
                </div>
              </div>
              
              <div id="date-select-row" class="form-group row">
                <div class="col-5">
                  <label for="startDate">Start Date</label>
                  <flat-pickr
                    v-model="downloadStartDateString"
                    class="form-control"
                    :class="{ 'is-invalid': !downloadStartDateString }"
                    name="startDate">
                  </flat-pickr>
                </div>
                
                <div class="col-5">
                  <label for="endDate">End Date</label>
                  <flat-pickr
                    v-model="downloadEndDateString"
                    class="form-control"
                    :class="{ 'is-invalid': !downloadEndDateString }"
                    name="endDate">
                  </flat-pickr>
                </div>
                
                <div class="col-2">
                  <label for="wylist">Water Year</label>
                  <v-select
                    id="wylist"
                    v-model="waterYear"
                    :options="wylist">
                  </v-select>
                </div>
              
              </div>
            </form>
            
            <div class="row border-top">
              <div id="paramList" class="col-3">
                
                <div class="list-group list-group-flush">
                  <a href="#"
                    v-for="param in params"
                    @click="clickParameter(param, $event)"
                    class="list-group-item list-group-item-action py-0"
                    v-bind:class="{active: param.active}">
                    <p>
                      <strong>{{ param.Name }}</strong>
                      <br>
                      <small>{{ param.Method }}</small>
                      <br>
                      <small>{{ param.nmeasure.toLocaleString() }}</small>
                      <small>{{ '(' + param.Unit.trim() + ')' }}</small>
                    </p>
                  </a>
                </div>
                
              </div>
              <div class="col-9">
                <h2 class="text-center"> {{ paramDetails.Name }} </h2>
                <p><strong>Daily Data</strong></p>
                <div id="chartContainer">
                </div>
              </div>
            </div>
            
          </div>
          
          <footer class="footer fixed-bottom bg-light py-2">
            <div class="container-fluid">
              <div class="row">
                <div class="col-3 text-center">
                  <button 
                    type="button" 
                    class="btn btn-secondary btn-sm" 
                    data-toggle="modal" 
                    data-target="#uploadModal"
                    v-bind:disabled="spID == null"
                    >Upload Data</button>
                </div>  
                <div class="col-3 text-center">
                  <button 
                    type="button" 
                    class="btn btn-secondary btn-sm" 
                    data-toggle="modal" 
                    data-target="#downloadModal"
                    v-bind:disabled="spID == null">Download Data</button>
                </div>  
                <div class="col-3 text-center">
                  <button 
                    type="button" 
                    class="btn btn-secondary btn-sm" 
                    @click="clickCreateReport()"
                    v-bind:disabled="disableReport">Create Report</button>
                </div>  
                <div class="col-3 text-center">
                  <button 
                    type="button" 
                    class="btn btn-secondary btn-sm" 
                    data-toggle="modal" 
                    data-target="#workupModal"
                    v-bind:disabled="spID == null">Show Workups</button>
                </div>  
              </div>
            </div>
          </footer>
        </div>
        
      </div>
    </div>
    
  </body>
  <script src="../../../dist/data_webpack.js"></script>
</html>