<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <title>Gage Data</title>
    <link rel="stylesheet" href="../../../dist/index_webpack.css">
    <link rel="stylesheet" href="../index.css">
  </head>
  <body>
    <div class="container-fluid">
      <h1>Welcome to Alqwu</h1>
      <p>Let's work with some data.</p>
      <hr>
      
      <div class="row">
        <div class="col">
          <h2><a href="./data.html">Data</a></h2>
          <p>Upload, download, and review data</p>
        </div>
      </div>
            
      <div class="row">
        <div class="col">
          <h2><a href="./analysis.html">Analysis</a></h2>
          <p>Calculate new values, make graphs and reports</p>
        </div>
      </div>
            
      <div class="row">
        <div class="col">
          <h2><a href="./metadata.html">Metadata</a></h2>
          <p>Add and maintain monitoring sites, parameters, and other ancillary information</p>
        </div>
      </div>
            
      <div class="row">
        <div class="col">
          <h2><a href="./settings.html">Settings</a></h2>
          <p>System-wide settings, such as the local time zone and database connection info</p>
        </div>
      </div>
      
    </div>
  </body>
  <script src="../../../dist/index_webpack.js"></script>
</html>
