<!doctype html>
<html lang="en">
  <head>
    <!-- REMOVE THIS! -->
    <!-- <script src="http://localhost:8098"></script> -->
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Gage Data</title>
    <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../node_modules/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="../index.css">
  </head>
  <body>
    
    <!-- Begin main page content -->
    <div class="container-fluid" role="main">
      <h1>Settings</h1>
      <p><a href="index.html">Home</a></p>
      
      <div class="row">
        <!-- Navigation - switch between different tables/items to update -->
        <div class="col-3">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          
            <a class="nav-link active" id="v-pills-datetime-tab" data-toggle="pill" 
              href="#v-pills-datetime" role="tab" aria-controls="v-pills-datetime" 
              aria-selected="true">Date and Time Settings</a>
              
            <a class="nav-link" id="v-pills-server-tab" data-toggle="pill" 
              href="#v-pills-server" role="tab" aria-controls="v-pills-server" 
              aria-selected="false">Server Connection</a>
              
            <a class="nav-link" id="v-pills-user-tab" data-toggle="pill" 
              href="#v-pills-user" role="tab" aria-controls="v-pills-user" 
              aria-selected="false">User Settings</a>
          </div>
        </div>
        
        <!-- Content - forms that show details about each of the tables/items -->
        <div id="settingsContent" class="col-9">
          <div class="tab-content" id="v-pills-tabContent">
            
            <!-- Date/Time settings form -->
            <div class="tab-pane fade show active" id="v-pills-datetime" role="tabpanel" 
              aria-labelledby="v-pills-datetime-tab">
              
              <h2>Date and Time Settings</h2>
              <hr>
              
              <form>
                <div class="form-row">
                  <label for="dt-utcoffset" class="col-sm-2 col-form-label">UTC Offset</label>
                  <div class="col-sm-2">
                    <input type="number" class="form-control" id="dt-utcoffset"
                      v-model="config.utcoffset">
                  </div>
                </div>
              </form>
              
              <hr>
              
              <p>UTC is  Coordinated Universal Time.
                Data in the database is stored in UTC, but data loaded from or 
                downloaded to the computer is in local time.  The UTC Offset controls
                the upload conversion; it is the <strong>number of hours to add to UTC</strong>
                to calculate local time.  This feels backwards, but it's the international
                standard<br><br>
                You can use either negative or positive numbers.  Pacific Standard is 
                <strong>-8</strong>.
              </p>
              
            </div>
            
            <!-- Server settings form -->
            <div class="tab-pane fade" id="v-pills-server" role="tabpanel" 
              aria-labelledby="v-pills-server-tab">
              
              <h2>Server Connection Settings</h2>
              <hr>
              
              <form>
                <div class="form-row">
                  <label for="server-serverName" class="col-sm-4 col-form-label">Server Name</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="server-serverName"
                      v-model="config.mssql.server">
                  </div>
                </div>
                
                <div class="form-row">
                  <label for="server-database" class="col-sm-4 col-form-label">Database</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="server-database"
                      v-model="config.mssql.options.database">
                  </div>
                </div>
                
                <div class="form-row">
                  <label for="server-userName" class="col-sm-4 col-form-label">User Name</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="server-userName"
                      v-model="config.mssql.authentication.options.userName">
                  </div>
                </div>
                
                <div class="form-row">
                  <label for="server-password" class="col-sm-4 col-form-label">Password</label>
                  <div class="col-sm-8">
                    <input type="password" class="form-control" id="server-password"
                      v-model="config.mssql.authentication.options.password">
                  </div>
                </div>
              </form>
              
              <hr>
              
              <div class="row">
                <div class="col-md-8" class='alert-info'
                  v-bind:class="{ 'alert-danger': testError }">
                  <p>{{ testMessage }}</p>
                </div>
                
                <div class="col-md-3">
                  <button id="testServer" type="button" class="btn btn-primary float-right"
                    @click="testServer()" :disabled="dirty">Test</button>
                </div>
              </div>
               
             </div>
            
            <!-- User settings form -->
            <div class="tab-pane fade" id="v-pills-user" role="tabpanel" 
              aria-labelledby="v-pills-user-tab">
              
              <h2>About You</h2>
              <hr>
              
              <form>
                <div class="form-row">
                  <select class="form-control" id="userSelect"
                    v-model="config.userid" 
                    v-select="config.userid">
                    <option 
                      v-for="user in users" 
                      v-bind:value="user.UserID" 
                      v-bind:key="user.UserID">
                      {{ user.Name }}</option>
                  </select>
                </div>
                
                <br>
                
                <div class="form-row">
                  <label for="user-path" class="col-sm-4 col-form-label">Default Download Path</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="user-path"
                      v-model="config.userDefaultPath">
                  </div>
                </div>
                
              </form>
              
            </div>
          </div>
          
          <hr>
          
          <div class="form-row">
            <div class="col-md-6">
              <button id="settingsSave" type="button" class="btn btn-secondary"
                @click="setConfig()" :disabled="!dirty">Save</button>
            </div>
            
            <div class="col-md-6">
              <button id="settingsCancel" type="button" class="btn btn-secondary float-right" 
                @click="cancelChanges()" :disabled="!dirty">Cancel</button>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    
    <footer class="footer fixed-bottom">
      <div class="container-fluid">
        <div class="row">

        </div>
      </div>
    </footer>
    
  </body>
  <script src="../../../dist/settings_webpack.js"></script>
</html>