<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Gage Data</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../index.css">
  </head>
  <body>
    <div class="container-fluid">
      <h1>Data</h1>
      <p><a href="index.html">Home</a></p>
      
      <div class="row border-bottom">
        <div class="col">
            <div class="form-group">
            <label for="exampleFormControlSelect1">Monitoring Site</label>
            <select class="form-control" id="siteSelect">
              <option>Loading...</option>
            </select>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div id="paramList" class="col-4">
          <p>Left side placeholder - there will be a list of parameters here</p>
        </div>
        <div id="chartContainer" class="col-8">
        </div>
      </div>
      
    </div>
    
  </body>
  <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
  <script src="../../node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
  <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="../../node_modules/d3/dist/d3.min.js"></script>
  <script src="../js/data.js"></script>
</html>