<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <title>Gage Data</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../index.css">
  </head>
  <body>
    <div class="container-fluid">
      <h1>Welcome to Alqwu</h1>
      <p>Let's work with some data.</p>
      
      <div class="row">
        <div class="col">
          <h2><a href="./data.html">Data</a></h2>
        </div>
      </div>
            
      <div class="row">
        <div class="col">
          <h2><a href="./metadata.html">Metadata</a></h2>
        </div>
      </div>
            
      <div class="row">
        <div class="col">
          <h2><a href="./settings.html">Settings</a></h2>
        </div>
      </div>
      
    </div>
  </body>
  <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
  <script src="../../node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
  <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</html>
