<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Gage Data</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="../index.css">
  </head>
  <body>
    
        <!-- Update existing record modal -->
    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Change Data</h5>
          </div>
          
          <div class="modal-body">
          
            <div id="updateAlert" class="row alert alert-info" role="alert">
              Update the currently selected data?
            </div>
          
            
          </div>
          
          <div class="modal-footer">
            <button id="updateDataButton" type="button" class="btn btn-primary">Update Data</button>
            <button id="updateDataCloseButton" type="button" class="btn btn-secondary" 
              data-dismiss="modal">Cancel</button>
          </div>
          
        </div>
      </div>
    </div>
    
    <!-- Begin main page content -->
    <div class="container-fluid" role="main">
      <h1>Metadata</h1>
      <p><a href="index.html">Home</a></p>
      
      <div class="row">
        <!-- Navigation - switch between different tables/items to update -->
        <div class="col-3">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            
            <a class="nav-link active" id="v-pills-datarecord-tab" data-toggle="pill" 
              href="#v-pills-datarecord" role="tab" aria-controls="v-pills-datarecord" 
              aria-selected="true">Data Record</a>
            
            <a class="nav-link" id="v-pills-equipment-tab" data-toggle="pill" 
              href="#v-pills-equipment" role="tab" aria-controls="v-pills-equipment" 
              aria-selected="false">Equipment</a>
            
            <a class="nav-link" id="v-pills-method-tab" data-toggle="pill" 
              href="#v-pills-method" role="tab" aria-controls="v-pills-method" 
              aria-selected="false">Method</a>
            
            <a class="nav-link" id="v-pills-parameter-tab" data-toggle="pill" 
              href="#v-pills-parameter" role="tab" aria-controls="v-pills-parameter" 
              aria-selected="false">Parameter</a>
            
            <a class="nav-link" id="v-pills-site-tab" data-toggle="pill" 
              href="#v-pills-site" role="tab" aria-controls="v-pills-site" 
              aria-selected="true">Site</a>
            
            <a class="nav-link" id="v-pills-user-tab" data-toggle="pill" 
              href="#v-pills-user" role="tab" aria-controls="v-pills-user" 
              aria-selected="true">User</a>
              
          </div>
        </div>
        
        <!-- Content - forms that show details about each of the tables/items -->
        <div class="col-9">
          <div class="tab-content" id="v-pills-tabContent">
            
            <!-- Equipment form -->
            <div class="tab-pane fade" id="v-pills-equipment" role="tabpanel" 
              aria-labelledby="v-pills-equipment-tab">Equipment</div>
            
            <!-- Data Record (metadata) form -->
            <div class="tab-pane fade show active" id="v-pills-datarecord" role="tabpanel" 
              aria-labelledby="v-pills-datarecord-tab">
              
              <form id = "dr-selectHeader">
                <div class="form-group">
                  <select class="form-control" id="metadataSelect">
                    <option>Loading...</option>
                  </select>
                </div>
                
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="dr-activeFilterCheck" checked>
                  <label class="form-check-label" for="dr-activeFilterCheck">Hide Inactive</label>
                </div>
                
                <hr />
              </form>
              
              
              <div id="dr-narrative" class="alert alert-info"></div>
              
              <form id="dataRecordForm">
                <fieldset id="dataRecordFieldset" disabled>
                  <div class="form-row">
                    <label for="dr-samplePoint" class="col-sm-2 col-form-label">Sample Point</label>
                    <div class="col-sm-10">
                      <select class="form-control" id="dr-samplePoint">
                        <option>Loading...</option>
                      </select>
                    </div>
                  </div>
                  
                  <div class="form-row">
                    <label for="dr-parameter" class="col-sm-2 col-form-label">Parameter</label>
                    <div class="col-sm-10">
                      <select class="form-control" id="dr-parameter">
                        <option>Loading...</option>
                      </select>
                    </div>
                  </div>
                  
                  <div class="form-row">
                    <label for="dr-method" class="col-sm-2 col-form-label">Method</label>
                    <div class="col-sm-10">
                      <select class="form-control" id="dr-method">
                        <option>Loading...</option>
                      </select>
                    </div>
                  </div>
                  
                  <div class="form-row">
                    <label for="dr-unit" class="col-sm-2 col-form-label">Unit</label>
                    <div class="col-sm-10">
                      <select class="form-control" id="dr-unit">
                        <option>Loading...</option>
                      </select>
                    </div>
                  </div>
                  
                  <div class="form-row">
                    <label for="dr-frequency" class="col-sm-2 col-form-label">Frequency (minutes)</label>
                    <div class="col-sm-4">
                      <input type="number" class="form-control" id="dr-frequency">
                    </div>

                    <label for="dr-decimalpoints" class="col-sm-2 col-form-label">Decimal Points</label>
                    <div class="col-sm-4">
                      <input type="number" class="form-control" id="dr-decimalpoints">
                    </div>
                  </div>
                  
                  <div class="form-row">
                    <label for="dr-active" class="col-sm-3 col-form-label">Active</label>
                    <div class="col-sm-9">
                      <input type="checkbox" class="form-check-input" id="dr-active">
                    </div>
                  </div>
                  
                  <div class="form-row">
                    <label for="dr-notes" class="col-sm-2 col-form-label">Notes</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" id="dr-notes" rows="3"></textarea>
                    </div>
                  </div>
                  
                </fieldset>
              </form>
              
              <hr />
              
              <div class="form-row">
                <div class="col-md-2">
                  <button id="dr-edit" type="button" class="btn btn-primary">Edit</button>
                </div>
                <div class="col-md-6">
                  <button id="dr-update" type="button" class="btn btn-primary" disabled>Update</button>
                </div>
                <div class="col-md-2">
                  <button id="dr-new" type="button" class="btn btn-secondary float-right">New</button>
                </div>
                <div class="col-md-2">
                  <button id="dr-cancel" type="button" class="btn btn-secondary float-right" disabled>Cancel</button>
                </div>
              </div>
              
            </div>
            
            <div class="tab-pane fade" id="v-pills-method" role="tabpanel" 
              aria-labelledby="v-pills-method-tab">Method</div>
            
            <div class="tab-pane fade" id="v-pills-parameter" role="tabpanel" 
              aria-labelledby="v-pills-parameter-tab">Parameter</div>
            
            <!-- Site form -->
            <div class="tab-pane fade" id="v-pills-site" role="tabpanel" 
              aria-labelledby="v-pills-site-tab">
              
              <form id = "site-selectHeader">
                <div class="form-group">
                  <select class="form-control" id="siteSelect">
                    <option>Loading...</option>
                  </select>
                </div>
                
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="site-activeFilterCheck" checked>
                  <label class="form-check-label" for="site-activeFilterCheck">Hide Inactive</label>
                </div>
                
                <hr />
              </form>
              
              <div id="site-narrative" class="alert alert-info">Loading...</div>
              
              <form id="siteForm">
                <fieldset id="siteFieldset" disabled>
                  
                  <div class="form-group row">
                    <label for="site-code" class="col-sm-2 col-form-label">Code</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="site-code">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="site-name" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="site-name">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="site-address" class="col-sm-2 col-form-label">Address</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="site-address">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="site-city" class="col-sm-2 col-form-label">City</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="site-city">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="site-zip" class="col-sm-2 col-form-label">Zip</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="site-zip">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="site-description" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" id="site-description" rows="5"></textarea>
                    </div>
                  </div>
                  
                </fieldset>
              </form>
              
              <hr />
              
              <div class="form-row">
                <div class="col-md-2">
                  <button id="site-edit" type="button" class="btn btn-primary">Edit</button>
                </div>
                <div class="col-md-6">
                  <button id="site-update" type="button" class="btn btn-primary" disabled>Update</button>
                </div>
                <div class="col-md-2">
                  <button id="site-new" type="button" class="btn btn-secondary float-right">New</button>
                </div>
                <div class="col-md-2">
                  <button id="site-cancel" type="button" class="btn btn-secondary float-right" disabled>Cancel</button>
                </div>
              </div>
              
            </div>
            
            <!-- User form -->
            <div class="tab-pane fade" id="v-pills-user" role="tabpanel" 
              aria-labelledby="v-pills-user-tab">
              
              <form id = "user-selectHeader">
                <div class="form-group">
                  <select class="form-control" id="userSelect">
                    <option>Loading...</option>
                  </select>
                </div>
                
                <hr />
              </form>
              
              <div id="user-narrative" class="alert alert-info">Loading...</div>
              
              <form id="userForm">
                <fieldset id="userFieldset" disabled>
                  
                  <div class="form-group row">
                    <label for="user-name" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="user-name">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="user-phone" class="col-sm-2 col-form-label">Phone</label>
                    <div class="col-sm-10">
                      <input type="tel" class="form-control" id="user-phone">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="user-email" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="user-email">
                    </div>
                  </div>
                  
                </fieldset>
              </form>
              
              <hr />
              
              <div class="form-row">
                <div class="col-md-2">
                  <button id="user-edit" type="button" class="btn btn-primary">Edit</button>
                </div>
                <div class="col-md-6">
                  <button id="user-update" type="button" class="btn btn-primary" disabled>Update</button>
                </div>
                <div class="col-md-2">
                  <button id="user-new" type="button" class="btn btn-secondary float-right">New</button>
                </div>
                <div class="col-md-2">
                  <button id="user-cancel" type="button" class="btn btn-secondary float-right" disabled>Cancel</button>
                </div>
              </div>
              
            </div>


          </div>
        </div>
    </div>
    
    <footer class="footer fixed-bottom">
      <div class="container-fluid">
        <div class="row">

        </div>
      </div>
    </footer>
    
  </body>
  <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
  <script src="../../node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
  <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="../../node_modules/select2/dist/js/select2.min.js"></script>
  <script src="../js/metadata_bundle.js"></script>
</html>