<!doctype html>
<html lang="en">
  <head>
  
    <!-- REMOVE THIS! -->
    <script src="http://localhost:8098"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Gage Data</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="../index.css">
  </head>
  <body>
    
        <!-- Update existing record modal -->
    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Change Data</h5>
          </div>
          
          <div class="modal-body">
          
            <div id="updateAlert" class="row alert alert-info" role="alert">
              Update the currently selected data?
            </div>
          
            
          </div>
          
          <div class="modal-footer">
            <button id="updateDataButton" type="button" class="btn btn-primary">Update Data</button>
            <button id="updateDataCloseButton" type="button" class="btn btn-secondary" 
              data-dismiss="modal">Cancel</button>
          </div>
          
        </div>
      </div>
    </div>
    
    <!-- Begin main page content -->
    <div class="container-fluid" role="main">
      <h1>Metadata</h1>
      <p><a href="index.html">Home</a></p>
      
      <div class="row">
        <!-- Navigation - switch between different tables/items to update -->
        <div class="col-3">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            
            <a class="nav-link active" id="v-pills-datarecord-tab" data-toggle="pill" 
              href="#v-pills-datarecord" role="tab" aria-controls="v-pills-datarecord" 
              aria-selected="true">Data Record</a>
            
            <a class="nav-link" id="v-pills-equipment-tab" data-toggle="pill" 
              href="#v-pills-equipment" role="tab" aria-controls="v-pills-equipment" 
              aria-selected="false">Equipment</a>
            
            <a class="nav-link" id="v-pills-method-tab" data-toggle="pill" 
              href="#v-pills-method" role="tab" aria-controls="v-pills-method" 
              aria-selected="false">Method</a>
            
            <a class="nav-link" id="v-pills-parameter-tab" data-toggle="pill" 
              href="#v-pills-parameter" role="tab" aria-controls="v-pills-parameter" 
              aria-selected="false">Parameter</a>
            
            <a class="nav-link" id="v-pills-site-tab" data-toggle="pill" 
              href="#v-pills-site" role="tab" aria-controls="v-pills-site" 
              aria-selected="true">Site</a>
            
            <a class="nav-link" id="v-pills-sample-point-tab" data-toggle="pill" 
              href="#v-pills-sample-point" role="tab" aria-controls="v-pills-sample-point" 
              aria-selected="true">Sample Point</a>
            
            <a class="nav-link" id="v-pills-user-tab" data-toggle="pill" 
              href="#v-pills-user" role="tab" aria-controls="v-pills-user" 
              aria-selected="true">User</a>
              
          </div>
        </div>
        
        <!-- Content - forms that show details about each of the tables/items -->
        <div class="col-9">
          <div class="tab-content" id="v-pills-tabContent">
            
            <!-- Equipment form -->
            <div class="tab-pane fade" id="v-pills-equipment" role="tabpanel" 
              aria-labelledby="v-pills-equipment-tab">Equipment</div>
            
            <!-- Data Record (metadata) form -->
            <div class="tab-pane fade show active" id="v-pills-datarecord" role="tabpanel" 
              aria-labelledby="v-pills-datarecord-tab">
              
              <form id = "dr-selectHeader">
                <div class="form-group">
                  <select class="form-control" id="metadataSelect">
                    <option>Loading...</option>
                  </select>
                </div>
                
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="dr-activeFilterCheck" checked>
                  <label class="form-check-label" for="dr-activeFilterCheck">Hide Inactive</label>
                </div>
                
                <hr />
              </form>
              
              
              <div id="dr-narrative" class="alert alert-info"></div>
              
              <form id="dataRecordForm">
                <fieldset id="dataRecordFieldset" disabled>
                  <div class="form-row">
                    <label for="dr-samplePoint" class="col-sm-2 col-form-label">Sample Point</label>
                    <div class="col-sm-10">
                      <select class="form-control" id="dr-samplePoint">
                        <option>Loading...</option>
                      </select>
                    </div>
                  </div>
                  
                  <div class="form-row">
                    <label for="dr-parameter" class="col-sm-2 col-form-label">Parameter</label>
                    <div class="col-sm-10">
                      <select class="form-control" id="dr-parameter">
                        <option>Loading...</option>
                      </select>
                    </div>
                  </div>
                  
                  <div class="form-row">
                    <label for="dr-method" class="col-sm-2 col-form-label">Method</label>
                    <div class="col-sm-10">
                      <select class="form-control" id="dr-method">
                        <option>Loading...</option>
                      </select>
                    </div>
                  </div>
                  
                  <div class="form-row">
                    <label for="dr-unit" class="col-sm-2 col-form-label">Unit</label>
                    <div class="col-sm-10">
                      <select class="form-control" id="dr-unit">
                        <option>Loading...</option>
                      </select>
                    </div>
                  </div>
                  
                  <div class="form-row">
                    <label for="dr-frequency" class="col-sm-2 col-form-label">Frequency (minutes)</label>
                    <div class="col-sm-4">
                      <input type="number" class="form-control" id="dr-frequency">
                    </div>

                    <label for="dr-decimalpoints" class="col-sm-2 col-form-label">Decimal Points</label>
                    <div class="col-sm-4">
                      <input type="number" class="form-control" id="dr-decimalpoints">
                    </div>
                  </div>
                  
                  <div class="form-row">
                    <label for="dr-active" class="col-sm-3 col-form-label">Active</label>
                    <div class="col-sm-9">
                      <input type="checkbox" class="form-check-input" id="dr-active">
                    </div>
                  </div>
                  
                  <div class="form-row">
                    <label for="dr-notes" class="col-sm-2 col-form-label">Notes</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" id="dr-notes" rows="3"></textarea>
                    </div>
                  </div>
                  
                </fieldset>
              </form>
              
              <hr />
              
              <div class="form-row">
                <div class="col-md-2">
                  <button id="dr-edit" type="button" class="btn btn-primary">Edit</button>
                </div>
                <div class="col-md-6">
                  <button id="dr-update" type="button" class="btn btn-primary" disabled>Update</button>
                </div>
                <div class="col-md-2">
                  <button id="dr-new" type="button" class="btn btn-secondary float-right">New</button>
                </div>
                <div class="col-md-2">
                  <button id="dr-cancel" type="button" class="btn btn-secondary float-right" disabled>Cancel</button>
                </div>
              </div>
              
            </div>
            
            <div class="tab-pane fade" id="v-pills-method" role="tabpanel" 
              aria-labelledby="v-pills-method-tab">Method</div>
            
            <div class="tab-pane fade" id="v-pills-parameter" role="tabpanel" 
              aria-labelledby="v-pills-parameter-tab">Parameter</div>
            
            <!-- Site form -->
            <div class="tab-pane fade" id="v-pills-site" role="tabpanel" 
              aria-labelledby="v-pills-site-tab">
              
              <form id = "site-selectHeader">
                <div class="form-group">
                  <select class="form-control" id="siteSelect">
                    <option>Loading...</option>
                  </select>
                </div>
                
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="site-activeFilterCheck" checked>
                  <label class="form-check-label" for="site-activeFilterCheck">Hide Inactive</label>
                </div>
                
                <hr />
              </form>
              
              <div id="site-narrative" class="alert alert-info">Loading...</div>
              
              <form id="siteForm">
                <fieldset id="siteFieldset" disabled>
                  
                  <div class="form-group row">
                    <label for="site-code" class="col-sm-2 col-form-label">Code</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="site-code">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="site-name" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="site-name">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="site-address" class="col-sm-2 col-form-label">Address</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="site-address">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="site-city" class="col-sm-2 col-form-label">City</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="site-city">
                    </div>

                    <label for="site-zip" class="col-sm-2 col-form-label">Zip</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="site-zip">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="site-active" class="col-sm-2 col-form-label">Active</label>
                    <div class="col-sm-10">
                      <input type="checkbox" class="form-check-input" id="site-active">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="site-description" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" id="site-description" rows="5"></textarea>
                    </div>
                  </div>
                  
                </fieldset>
              </form>
              
              <hr />
              
              <div class="form-row">
                <div class="col-md-2">
                  <button id="site-edit" type="button" class="btn btn-primary">Edit</button>
                </div>
                <div class="col-md-6">
                  <button id="site-update" type="button" class="btn btn-primary" disabled>Update</button>
                </div>
                <div class="col-md-2">
                  <button id="site-new" type="button" class="btn btn-secondary float-right">New</button>
                </div>
                <div class="col-md-2">
                  <button id="site-cancel" type="button" class="btn btn-secondary float-right" disabled>Cancel</button>
                </div>
              </div>
              
            </div>
            
            <!-- Sample Point form -->
            <div class="tab-pane fade" id="v-pills-sample-point" role="tabpanel" 
              aria-labelledby="v-pills-sample-point-tab">
              
              <form id="sp-selectHeader" v-show="!creatingNew">
                <div class="form-group">
                  <select class="form-control" id="spSelect" 
                    v-model="spID" 
                    v-select="spID"
                    v-on:change="getCurrentSP(spID)">
                    <option 
                      v-for="sp in sps" 
                      v-bind:value="sp.SamplePointID" 
                      v-bind:key="sp.SamplePointID">
                      {{ sp.Name }}
                    </option>
                  </select>
                </div>
                
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="sample-point-activeFilterCheck" checked
                    v-on:change="updateSamplePointList()">
                  <label class="form-check-label" for="sample-point-activeFilterCheck">Hide Inactive</label>
                </div>
                
                
                <hr>
              </form>
              
              
              <div id="sample-point-narrative" class="alert alert-info"
                v-bind:class=" { 'alert-danger': error, 'alert-warning': dirty } "> 
                {{ notificationText }}
              </div>
              
              <div class="form-row">
                <div class="col-md-2">
                  <button id="sample-point-edit" type="button" class="btn btn-primary"
                    @click="toggleLocked()" :disabled="creatingNew"> {{ editButtonText }}</button>
                </div>
                
                <div class="col-md-6">
                  <button id="sample-point-update" type="button" class="btn btn-primary" 
                    @click="updateSP()" :disabled="locked || creatingNew">Update</button>
                </div>
                
                <div class="col-md-2">
                  <button id="sample-point-new" type="button" class="btn btn-secondary float-right"
                    @click="newSPClick()" :disabled="dirty"> {{ newButtonText }}</button>
                </div>
                
                <div class="col-md-2">
                  <button id="sample-point-cancel" type="button" class="btn btn-secondary float-right" 
                    @click="cancelNewSP()" :disabled="!creatingNew">Cancel</button>
                </div>
              </div>
              
              <hr>
              
              <form id="sample-pointForm">
                <fieldset id="sample-pointFieldset" :disabled="locked">
                  
                  <div class="form-group row">
                    <label for="sample-point-siteSelect" class="col-sm-2 col-form-label">Site</label>
                    <div class="col-sm-10">
                      <select class="form-control" id="sample-point-siteSelect" 
                        v-model="currentSP.SiteID" 
                        v-select="currentSP.SiteID"
                        :disabled="locked">
                        <option 
                          v-for="site in sites" 
                          v-bind:value="site.SiteID" 
                          v-bind:key="site.SiteID">
                          {{ site.Code + ': ' + site.Name }}
                        </option>
                      </select>
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="sample-point-name" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="sample-point-name"
                        v-model="currentSP.Name">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="sample-point-description" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" id="sample-point-description" rows="5"
                        v-model="currentSP.Description"></textarea>
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="site-active" class="col-sm-2 col-form-label">Active</label>
                    <div class="col-sm-10">
                      <input type="checkbox" class="form-check-input" id="site-active" 
                        v-model="currentSP.Active">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="sample-point-AddedOn" class="col-sm-2 col-form-label">Added</label>
                    <div class="col-sm-4">
                      <input type="date" class="form-control" id="sample-point-AddedOn"
                        v-model="currentSP.AddedOn">
                    </div>

                    <label for="sample-point-removedOn" class="col-sm-2 col-form-label">Removed</label>
                    <div class="col-sm-4">
                      <input type="date" class="form-control" id="sample-point-removedOn"
                        v-model="currentSP.RemovedOn">
                    </div>
                  </div>
                  
                  <hr>
                  
                  <div class="form-group row">
                    <label for="sample-point-lat" class="col-sm-2 col-form-label">Latitude</label>
                    <div class="col-sm-4">
                      <input type="number" class="form-control" id="sample-point-lat"
                        v-model="currentSP.Latitude">
                    </div>

                    <label for="sample-point-lon" class="col-sm-2 col-form-label">Longitude</label>
                    <div class="col-sm-4">
                      <input type="number" class="form-control" id="sample-point-long"
                        v-model="currentSP.Longitude">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="sample-point-ll-accuracy" class="col-sm-2 col-form-label">
                      Lat/Long Accuracy (feet)</label>
                    <div class="col-sm-4">
                      <input type="number" class="form-control" id="sample-point-ll-accuracy"
                        v-model="currentSP.LatLongAccuracyFeet">
                    </div>

                    <label for="sample-point-ll-date" class="col-sm-2 col-form-label">Lat/Long Date</label>
                    <div class="col-sm-4">
                      <input type="date" class="form-control" id="sample-point-ll-date"
                        v-model="currentSP.LatLongDate">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="sample-point-ll-notes" class="col-sm-2 col-form-label">Lat/Long Notes</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" id="sample-point-ll-notes" rows="3"
                        v-model="currentSP.LatLongDetails"></textarea>
                    </div>
                  </div>
                  
                  <hr>
                  
                  <div class="form-group row">
                    <label for="sample-point-elev" class="col-sm-2 col-form-label">Elevation (feet)</label>
                    <div class="col-sm-4">
                      <input type="number" class="form-control" id="sample-point-elev"
                        v-model="currentSP.ElevationFeet">
                    </div>

                    <label for="sample-point-elev-datum" class="col-sm-2 col-form-label">Elevation Datum</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="sample-point-elev-datum"
                        v-model="currentSP.ElevationDatum">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="sample-point-elev-accuracy" class="col-sm-2 col-form-label">Elevation Accuracy (feet)</label>
                    <div class="col-sm-4">
                      <input type="number" class="form-control" id="sample-point-elev-accuracy"
                        v-model="currentSP.ElevationAccuracyFeet">
                    </div>

                    <label for="sample-point-elev-date" class="col-sm-2 col-form-label">Elevation Date</label>
                    <div class="col-sm-4">
                      <input type="date" class="form-control" id="sample-point-elev-date"
                        v-model="currentSP.ElevationDate">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="sample-point-elev-notes" class="col-sm-2 col-form-label">Elevation Notes</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" id="sample-point-elev-notes" rows="3"
                        v-model="currentSP.ElevationDetails"></textarea>
                    </div>
                  </div>
                  
                  <hr>
                  
                  <div class="form-group row">
                    <label for="sample-point-wellType" class="col-sm-2 col-form-label">Well Type</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="sample-point-wellType"
                        v-model="currentSP.WellType">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="sample-point-wellCompletionType" class="col-sm-2 col-form-label">
                      Well Completion Type</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="sample-point-wellCompletionType"
                        v-model="currentSP.WellCompletionType">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="sample-point-wellTopInterval" class="col-sm-3 col-form-label">
                      Well Interval Top (feet)</label>
                    <div class="col-sm-3">
                      <input type="number" class="form-control" id="sample-point-wellTopInterval"
                        v-model="currentSP.WellIntervalTopFeet">
                    </div>

                    <label for="sample-point-wellBottomInterval" class="col-sm-3 col-form-label">
                      Well Interval Bottom (feet)</label>
                    <div class="col-sm-3">
                      <input type="number" class="form-control" id="sample-point-wellBottomInterval"
                        v-model="currentSP.WellIntervalBottomFeet">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="sample-point-wellInnerDiameter" class="col-sm-3 col-form-label">
                      Well Inner Diameter (inches)</label>
                    <div class="col-sm-3">
                      <input type="number" class="form-control" id="sample-point-wellInnerDiameter"
                        v-model="currentSP.WellInnerDiameterInches">
                    </div>

                    <label for="sample-point-wellOuterDiameter" class="col-sm-3 col-form-label">
                      Well Outer Diameter (inches)</label>
                    <div class="col-sm-3">
                      <input type="number" class="form-control" id="sample-point-wellOuterDiameter"
                        v-model="currentSP.WellOuterDiameterInches">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="sample-point-wellStickup" class="col-sm-3 col-form-label">
                      Well Stickup (feet)</label>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" id="sample-point-wellStickup"
                        v-model="currentSP.WellStickupFeet">
                    </div>

                    <label for="sample-point-WellStickupDate" class="col-sm-3 col-form-label">
                      Well Stickup Date</label>
                    <div class="col-sm-4">
                      <input type="date" class="form-control" id="sample-point-wellStickupDate"
                        v-model="currentSP.WellStickupDate">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="sample-point-wellDrilledBy" class="col-sm-2 col-form-label">
                      Well Drilled By</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="sample-point-wellDrilledBy"
                        v-model="currentSP.WellDrilledBy">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="sample-point-wellTagID" class="col-sm-3 col-form-label">Ecology Well Tag ID</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" id="sample-point-wellTagID"
                        v-model="currentSP.WellEcologyTagID">
                    </div>

                    <label for="sample-point-StartCardID" class="col-sm-3 col-form-label">
                      Ecology Start Card ID</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" id="sample-point-StartCardID"
                        v-model="currentSP.WellEcologyStartCardID">
                    </div>
                  </div>
                  
                </fieldset>
              </form>
              
            </div>
            
            <!-- User form -->
            <div class="tab-pane fade" id="v-pills-user" role="tabpanel" 
              aria-labelledby="v-pills-user-tab">
              
              <form id = "user-selectHeader">
                <div class="form-group">
                  <select class="form-control" id="userSelect">
                    <option>Loading...</option>
                  </select>
                </div>
                
                <hr />
              </form>
              
              <div id="user-narrative" class="alert alert-info">Loading...</div>
              
              <form id="userForm">
                <fieldset id="userFieldset" disabled>
                  
                  <div class="form-group row">
                    <label for="user-name" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="user-name">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="user-phone" class="col-sm-2 col-form-label">Phone</label>
                    <div class="col-sm-10">
                      <input type="tel" class="form-control" id="user-phone">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="user-email" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="user-email">
                    </div>
                  </div>
                  
                </fieldset>
              </form>
              
              <hr />
              
              <div class="form-row">
                <div class="col-md-2">
                  <button id="user-edit" type="button" class="btn btn-primary">Edit</button>
                </div>
                <div class="col-md-6">
                  <button id="user-update" type="button" class="btn btn-primary" disabled>Update</button>
                </div>
                <div class="col-md-2">
                  <button id="user-new" type="button" class="btn btn-secondary float-right">New</button>
                </div>
                <div class="col-md-2">
                  <button id="user-cancel" type="button" class="btn btn-secondary float-right" disabled>Cancel</button>
                </div>
              </div>
              
            </div>


          </div>
        </div>
    </div>
    
    <footer class="footer fixed-bottom">
      <div class="container-fluid">
        <div class="row">

        </div>
      </div>
    </footer>
    
  </body>
  <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
  <script src="../../node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
  <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="../../node_modules/select2/dist/js/select2.min.js"></script>
  <script src="../js/metadata_bundle.js"></script>
</html>