<!doctype html>
<html lang="en">
  <head>
  
    <!-- REMOVE THIS! -->
    <script src="http://localhost:8098"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Gage Data</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="../index.css">
  </head>
  <body>
    
        <!-- Update existing record modal -->
    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Change Data</h5>
          </div>
          
          <div class="modal-body">
          
            <div id="updateAlert" class="row alert alert-info" role="alert">
              Update the currently selected data?
            </div>
          
            
          </div>
          
          <div class="modal-footer">
            <button id="updateDataButton" type="button" class="btn btn-primary">Update Data</button>
            <button id="updateDataCloseButton" type="button" class="btn btn-secondary" 
              data-dismiss="modal">Cancel</button>
          </div>
          
        </div>
      </div>
    </div>
    
    <!-- Begin main page content -->
    <div class="container-fluid" role="main">
      <h1>Metadata</h1>
      <p><a href="index.html">Home</a></p>
      
      <div class="row">
        <!-- Navigation - switch between different tables/items to update -->
        <div class="col-3">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            
                        
            <a class="nav-link active" id="v-pills-site-tab" data-toggle="pill" 
              href="#v-pills-site" role="tab" aria-controls="v-pills-site" 
              aria-selected="true">Site</a>
            
            <a class="nav-link" id="v-pills-sample-point-tab" data-toggle="pill" 
              href="#v-pills-sample-point" role="tab" aria-controls="v-pills-sample-point" 
              aria-selected="true">Sample Point</a>
            
            <a class="nav-link" id="v-pills-datarecord-tab" data-toggle="pill" 
              href="#v-pills-datarecord" role="tab" aria-controls="v-pills-datarecord" 
              aria-selected="true">Data Record</a>
            
            <hr>
            
            <a class="nav-link" id="v-pills-equipment-tab" data-toggle="pill" 
              href="#v-pills-equipment" role="tab" aria-controls="v-pills-equipment" 
              aria-selected="false">Equipment</a>
            
            <a class="nav-link" id="v-pills-equipmentModel-tab" data-toggle="pill" 
              href="#v-pills-equipmentModel" role="tab" aria-controls="v-pills-equipmentModel" 
              aria-selected="false">Equipment Model</a>
            
            <hr>
            
            <a class="nav-link" id="v-pills-parameter-tab" data-toggle="pill" 
              href="#v-pills-parameter" role="tab" aria-controls="v-pills-parameter" 
              aria-selected="false">Parameter</a>
              
            <a class="nav-link" id="v-pills-method-tab" data-toggle="pill" 
              href="#v-pills-method" role="tab" aria-controls="v-pills-method" 
              aria-selected="false">Method</a>
              
            <a class="nav-link" id="v-pills-unit-tab" data-toggle="pill" 
              href="#v-pills-unit" role="tab" aria-controls="v-pills-unit" 
              aria-selected="false">Unit</a>
              
            <a class="nav-link" id="v-pills-qualifier-tab" data-toggle="pill" 
              href="#v-pills-qualifier" role="tab" aria-controls="v-pills-qualifier" 
              aria-selected="false">Qualifier</a>
            
            <hr>
            
            <a class="nav-link" id="v-pills-user-tab" data-toggle="pill" 
              href="#v-pills-user" role="tab" aria-controls="v-pills-user" 
              aria-selected="true">User</a>
              
          </div>
        </div>
        
        <!-- Content - forms that show details about each of the tables/items -->
        <div class="col-9">
          <div class="tab-content" id="v-pills-tabContent">

            <!-- Site form -->
            <div class="tab-pane fade show active" id="v-pills-site" role="tabpanel" 
              aria-labelledby="v-pills-site-tab">
              
              <form id = "site-selectHeader">
                <div class="form-group">
                  <select class="form-control" id="siteSelect"
                    v-model="siteID" 
                    v-select="siteID"
                    v-on:change="getCurrentSite(siteID)">
                    <option 
                      v-for="site in sites" 
                      v-bind:value="site.SiteID" 
                      v-bind:key="site.SiteID">
                      {{ site.Code + ": " + site.Name }}</option>
                  </select>
                </div>
                
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="site-activeFilterCheck" checked
                    v-on:change="updateSiteList()">
                  <label class="form-check-label" for="site-activeFilterCheck">Hide Inactive</label>
                </div>
                
                <hr />
              </form>
              
              <div id="site-narrative" class="alert alert-info"
                v-bind:class=" { 'alert-danger': error, 'alert-warning': dirty } "> 
                {{ notificationText }}</div>
              
              <div class="form-row">
                <div class="col-md-2">
                  <button id="site-edit" type="button" class="btn btn-primary"
                    @click="clickEditSite()" :disabled="creatingNew"> {{ editButtonText }}</button>
                </div>
                <div class="col-md-8">
                  <button id="site-new" type="button" class="btn btn-secondary"
                    @click="newSiteClick()" :disabled="dirty"> {{ newButtonText }}</button>
                </div>
                <div class="col-md-2">
                  <button id="site-cancel" type="button" class="btn btn-secondary float-right"
                    @click="cancelSite()" :disabled="locked">Cancel</button>
                </div>
              </div>
              
              <hr>
              
              <form id="siteForm">
                <fieldset id="siteFieldset" :disabled="locked">
                  
                  <div class="form-group row">
                    <label for="site-code" class="col-sm-2 col-form-label">Code</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="site-code"
                        v-model="currentSite.Code">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="site-name" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="site-name"
                        v-model="currentSite.Name">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="site-address" class="col-sm-2 col-form-label">Address</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="site-address"
                        v-model="currentSite.Address">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="site-city" class="col-sm-2 col-form-label">City</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="site-city"
                        v-model="currentSite.City">
                    </div>

                    <label for="site-zip" class="col-sm-2 col-form-label">Zip</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="site-zip"
                        v-model="currentSite.ZipCode">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="site-active" class="col-sm-2 col-form-label">Active</label>
                    <div class="col-sm-10">
                      <input type="checkbox" class="form-check-input" id="site-active"
                        v-model="currentSite.Active">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="site-description" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" id="site-description" rows="5"
                        v-model="currentSite.Description"></textarea>
                    </div>
                  </div>
                  
                </fieldset>
              </form>
            </div>
            
            <!-- Sample Point form -->
            <div class="tab-pane fade" id="v-pills-sample-point" role="tabpanel" 
              aria-labelledby="v-pills-sample-point-tab">
              
              <form id="sp-selectHeader" v-show="!creatingNew">
                <div class="form-group">
                  <select class="form-control" id="spSelect" 
                    v-model="spID" 
                    v-select="spID"
                    v-on:change="getCurrentSP(spID)">
                    <option 
                      v-for="sp in sps" 
                      v-bind:value="sp.SamplePointID" 
                      v-bind:key="sp.SamplePointID">
                      {{ sp.Name }}
                    </option>
                  </select>
                </div>
                
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="sample-point-activeFilterCheck" checked
                    v-on:change="updateSamplePointList()">
                  <label class="form-check-label" for="sample-point-activeFilterCheck">Hide Inactive</label>
                </div>
                
                <hr>
              </form>
              
              <div id="sample-point-narrative" class="alert alert-info"
                v-bind:class=" { 'alert-danger': error, 'alert-warning': dirty } "> 
                {{ notificationText }}
              </div>
              
              <div class="form-row">
                <div class="col-md-2">
                  <button id="sample-point-edit" type="button" class="btn btn-primary"
                    @click="clickEditSP()" :disabled="creatingNew"> {{ editButtonText }}</button>
                </div>
                
                <div class="col-md-8">
                  <button id="sample-point-new" type="button" class="btn btn-secondary"
                    @click="newSPClick()" :disabled="dirty"> {{ newButtonText }}</button>
                </div>
                
                <div class="col-md-2">
                  <button id="sample-point-cancel" type="button" class="btn btn-secondary float-right" 
                    @click="cancelSP()" :disabled="locked">Cancel</button>
                </div>
              </div>
              
              <hr>
              
              <form id="sample-pointForm">
                <fieldset id="sample-pointFieldset" :disabled="locked">
                  
                  <div class="form-group row">
                    <label for="sample-point-siteSelect" class="col-sm-2 col-form-label">Site</label>
                    <div class="col-sm-10">
                      <select class="form-control" id="sample-point-siteSelect" 
                        v-model="currentSP.SiteID" 
                        v-select="currentSP.SiteID"
                        :disabled="locked">
                        <option 
                          v-for="site in sites" 
                          v-bind:value="site.SiteID" 
                          v-bind:key="site.SiteID">
                          {{ site.Code + ': ' + site.Name }}
                        </option>
                      </select>
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="sample-point-name" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="sample-point-name"
                        v-model="currentSP.Name">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="sample-point-description" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" id="sample-point-description" rows="5"
                        v-model="currentSP.Description"></textarea>
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="site-active" class="col-sm-2 col-form-label">Active</label>
                    <div class="col-sm-10">
                      <input type="checkbox" class="form-check-input" id="site-active" 
                        v-model="currentSP.Active">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="sample-point-AddedOn" class="col-sm-2 col-form-label">Added</label>
                    <div class="col-sm-4">
                      <input type="date" class="form-control" id="sample-point-AddedOn"
                        v-model="currentSP.AddedOn">
                    </div>

                    <label for="sample-point-removedOn" class="col-sm-2 col-form-label">Removed</label>
                    <div class="col-sm-4">
                      <input type="date" class="form-control" id="sample-point-removedOn"
                        v-model="currentSP.RemovedOn">
                    </div>
                  </div>
                  
                  <hr>
                  
                  <div class="form-group row">
                    <label for="sample-point-lat" class="col-sm-2 col-form-label">Latitude</label>
                    <div class="col-sm-4">
                      <input type="number" class="form-control" id="sample-point-lat"
                        v-model="currentSP.Latitude">
                    </div>

                    <label for="sample-point-lon" class="col-sm-2 col-form-label">Longitude</label>
                    <div class="col-sm-4">
                      <input type="number" class="form-control" id="sample-point-long"
                        v-model="currentSP.Longitude">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="sample-point-ll-accuracy" class="col-sm-2 col-form-label">
                      Lat/Long Accuracy (feet)</label>
                    <div class="col-sm-4">
                      <input type="number" class="form-control" id="sample-point-ll-accuracy"
                        v-model="currentSP.LatLongAccuracyFeet">
                    </div>

                    <label for="sample-point-ll-date" class="col-sm-2 col-form-label">Lat/Long Date</label>
                    <div class="col-sm-4">
                      <input type="date" class="form-control" id="sample-point-ll-date"
                        v-model="currentSP.LatLongDate">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="sample-point-ll-notes" class="col-sm-2 col-form-label">Lat/Long Notes</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" id="sample-point-ll-notes" rows="3"
                        v-model="currentSP.LatLongDetails"></textarea>
                    </div>
                  </div>
                  
                  <hr>
                  
                  <div class="form-group row">
                    <label for="sample-point-elev" class="col-sm-2 col-form-label">Elevation (feet)</label>
                    <div class="col-sm-4">
                      <input type="number" class="form-control" id="sample-point-elev"
                        v-model="currentSP.ElevationFeet">
                    </div>

                    <label for="sample-point-elev-datum" class="col-sm-2 col-form-label">Elevation Datum</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="sample-point-elev-datum"
                        v-model="currentSP.ElevationDatum">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="sample-point-elev-accuracy" class="col-sm-2 col-form-label">Elevation Accuracy (feet)</label>
                    <div class="col-sm-4">
                      <input type="number" class="form-control" id="sample-point-elev-accuracy"
                        v-model="currentSP.ElevationAccuracyFeet">
                    </div>

                    <label for="sample-point-elev-date" class="col-sm-2 col-form-label">Elevation Date</label>
                    <div class="col-sm-4">
                      <input type="date" class="form-control" id="sample-point-elev-date"
                        v-model="currentSP.ElevationDate">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="sample-point-elev-notes" class="col-sm-2 col-form-label">Elevation Notes</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" id="sample-point-elev-notes" rows="3"
                        v-model="currentSP.ElevationDetails"></textarea>
                    </div>
                  </div>
                  
                  <hr>
                  
                  <div class="form-group row">
                    <label for="sample-point-wellType" class="col-sm-2 col-form-label">Well Type</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="sample-point-wellType"
                        v-model="currentSP.WellType">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="sample-point-wellCompletionType" class="col-sm-2 col-form-label">
                      Well Completion Type</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="sample-point-wellCompletionType"
                        v-model="currentSP.WellCompletionType">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="sample-point-wellTopInterval" class="col-sm-3 col-form-label">
                      Well Interval Top (feet)</label>
                    <div class="col-sm-3">
                      <input type="number" class="form-control" id="sample-point-wellTopInterval"
                        v-model="currentSP.WellIntervalTopFeet">
                    </div>

                    <label for="sample-point-wellBottomInterval" class="col-sm-3 col-form-label">
                      Well Interval Bottom (feet)</label>
                    <div class="col-sm-3">
                      <input type="number" class="form-control" id="sample-point-wellBottomInterval"
                        v-model="currentSP.WellIntervalBottomFeet">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="sample-point-wellInnerDiameter" class="col-sm-3 col-form-label">
                      Well Inner Diameter (inches)</label>
                    <div class="col-sm-3">
                      <input type="number" class="form-control" id="sample-point-wellInnerDiameter"
                        v-model="currentSP.WellInnerDiameterInches">
                    </div>

                    <label for="sample-point-wellOuterDiameter" class="col-sm-3 col-form-label">
                      Well Outer Diameter (inches)</label>
                    <div class="col-sm-3">
                      <input type="number" class="form-control" id="sample-point-wellOuterDiameter"
                        v-model="currentSP.WellOuterDiameterInches">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="sample-point-wellStickup" class="col-sm-3 col-form-label">
                      Well Stickup (feet)</label>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" id="sample-point-wellStickup"
                        v-model="currentSP.WellStickupFeet">
                    </div>

                    <label for="sample-point-WellStickupDate" class="col-sm-3 col-form-label">
                      Well Stickup Date</label>
                    <div class="col-sm-4">
                      <input type="date" class="form-control" id="sample-point-wellStickupDate"
                        v-model="currentSP.WellStickupDate">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="sample-point-wellDrilledBy" class="col-sm-2 col-form-label">
                      Well Drilled By</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="sample-point-wellDrilledBy"
                        v-model="currentSP.WellDrilledBy">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="sample-point-wellTagID" class="col-sm-3 col-form-label">Ecology Well Tag ID</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" id="sample-point-wellTagID"
                        v-model="currentSP.WellEcologyTagID">
                    </div>

                    <label for="sample-point-StartCardID" class="col-sm-3 col-form-label">
                      Ecology Start Card ID</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" id="sample-point-StartCardID"
                        v-model="currentSP.WellEcologyStartCardID">
                    </div>
                  </div>
                  
                </fieldset>
              </form>
              
            </div>
            
            <!-- Data Record (metadata) form -->
            <div class="tab-pane fade" id="v-pills-datarecord" role="tabpanel" 
              aria-labelledby="v-pills-datarecord-tab">
              
              <form id = "dr-selectHeader" v-show="!creatingNew">
                <div class="form-group">
                  <select class="form-control" id="metadataSelect" 
                    v-model="drID" 
                    v-select="drID"
                    v-on:change="getCurrentDR(drID)">
                    <option 
                      v-for="dr in drs" 
                      v-bind:value="dr.MetadataID" 
                      v-bind:key="dr.MetadataID">
                      {{ dr.Metaname }}</option>
                  </select>
                </div>
                
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="dr-activeFilterCheck" checked
                    v-on:change="updateMetadataList()">
                  <label class="form-check-label" for="dr-activeFilterCheck">Hide Inactive</label>
                </div>
                
                <hr />
              </form>
              
              
              <div id="dr-narrative" class="alert alert-info"
                v-bind:class=" { 'alert-danger': error, 'alert-warning': dirty } "> 
                {{ notificationText }}</div>
              
              <div class="form-row">
                <div class="col-md-2">
                  <button id="dr-edit" type="button" class="btn btn-primary"
                    @click="clickEditDR()" :disabled="creatingNew"> {{ editButtonText }}</button>
                </div>
                
                <div class="col-md-8">
                  <button id="dr-new" type="button" class="btn btn-secondary"
                    @click="newDRClick()" :disabled="dirty"> {{ newButtonText }}</button>
                </div>
                
                <div class="col-md-2">
                  <button id="dr-cancel" type="button" class="btn btn-secondary float-right" 
                    @click="cancelDR()" :disabled="locked">Cancel</button>
                </div>
              </div>
              
              <hr>
              
              <form id="dataRecordForm">
                <fieldset id="dataRecordFieldset" :disabled="locked">
                  
                  <div class="form-row">
                    <label for="dr-samplePoint" class="col-sm-2 col-form-label">Sample Point</label>
                    <div class="col-sm-10">
                      <select class="form-control" id="dr-samplePoint" 
                        v-model="currentDR.SamplePointID" 
                        v-select="currentDR.SamplePointID"
                        :disabled="locked">
                        <option 
                          v-for="sp in sps" 
                          v-bind:value="sp.SamplePointID" 
                          v-bind:key="sp.SamplePointID">
                          {{ sp.Name }}</option>
                      </select>
                    </div>
                  </div>
                  
                  <div class="form-row">
                    <label for="dr-parameter" class="col-sm-2 col-form-label">Parameter</label>
                    <div class="col-sm-10">
                      <select class="form-control" id="dr-parameter" 
                        v-model="currentDR.ParameterID" 
                        v-select="currentDR.ParameterID"
                        :disabled="locked">
                        <option 
                          v-for="param in params" 
                          v-bind:value="param.ParameterID" 
                          v-bind:key="param.ParameterID">
                          {{ param.Name }}</option>
                      </select>
                    </div>
                  </div>
                  
                  <div class="form-row">
                    <label for="dr-method" class="col-sm-2 col-form-label">Method</label>
                    <div class="col-sm-10">
                      <select class="form-control" id="dr-method" 
                        v-model="currentDR.MethodID" 
                        v-select="currentDR.MethodID"
                        :disabled="locked">
                        <option 
                          v-for="method in methods" 
                          v-bind:value="method.MethodID" 
                          v-bind:key="method.MethodID">
                          {{ method.Name }}</option>
                      </select>
                    </div>
                  </div>
                  
                  <div class="form-row">
                    <label for="dr-unit" class="col-sm-2 col-form-label">Unit</label>
                    <div class="col-sm-10">
                      <select class="form-control" id="dr-unit" 
                        v-model="currentDR.UnitID" 
                        v-select="currentDR.UnitID"
                        :disabled="locked">
                        <option 
                          v-for="unit in units" 
                          v-bind:value="unit.UnitID" 
                          v-bind:key="unit.UnitID">
                          {{ unit.Symbol }}</option>
                      </select>
                    </div>
                  </div>
                  
                  <div class="form-row">
                    <label for="dr-frequency" class="col-sm-2 col-form-label">Frequency (minutes)</label>
                    <div class="col-sm-4">
                      <input type="number" class="form-control" id="dr-frequency"
                        v-model="currentDR.FrequencyMinutes">
                    </div>

                    <label for="dr-decimalpoints" class="col-sm-2 col-form-label">Decimal Points</label>
                    <div class="col-sm-4">
                      <input type="number" class="form-control" id="dr-decimalpoints"
                        v-model="currentDR.DecimalPoints">
                    </div>
                  </div>
                  
                  <div class="form-row">
                    <label for="dr-active" class="col-sm-3 col-form-label">Active</label>
                    <div class="col-sm-9">
                      <input type="checkbox" class="form-check-input" id="dr-active"
                        v-model="currentDR.Active">
                    </div>
                  </div>
                  
                  <div class="form-row">
                    <label for="dr-notes" class="col-sm-2 col-form-label">Notes</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" id="dr-notes" rows="3"
                        v-model="currentDR.Notes"></textarea>
                    </div>
                  </div>
                  
                  <hr>
                  
                  <h3>Equipment</h3>
                  
                  <div class="form-group form-row">
                    <div class="col-sm-10">
                      <select class="form-control" id="dr-equipmentSelect"
                          :disabled="locked">
                        <option 
                          v-for="equip in equipment" 
                          v-bind:value="equip.EquipmentID" 
                          v-bind:key="equip.EquipmentID"
                          :disabled="equip.SiteCode != null">
                          {{ equip.Name + (equip.SiteCode == null ? '' : ' - deployed to ' + equip.SiteCode) }}
                        </option>
                      </select>
                    </div>
                    <div class="col-sm-2">
                      <button type="button" class="btn btn-primary btn-sm float-right"
                        @click="addEquipment()">+</button>
                    </div>
                  </div>
                  
                  <div class="form-row"
                    v-for="equip in currentDR.equipDeployments">
                    <div class="col-sm-10">
                      <p>{{ 
                        equip.EquipmentName + ' - ' +
                        equip.SerialNumber + 
                        ' (' + equip.Manufacturer + ')' }}</p>
                    </div>
                    <div class="col-sm-2">
                      <button type="button" class="btn btn-danger btn-sm float-right"
                        @click="deleteEquipment(equip.EquipmentDeploymentID)">X</button>
                    </div>
                  </div>
                    
                  
                </fieldset>
              </form>
              
            </div>
            
            <!-- Equipment form -->
            <div class="tab-pane fade" id="v-pills-equipment" role="tabpanel" 
              aria-labelledby="v-pills-equipment-tab">
              
              <form id="eq-selectHeader" v-show="!creatingNew">
                <div class="form-group">
                  <select class="form-control" id="eqSelect" 
                    v-model="eqID" 
                    v-select="eqID"
                    v-on:change="getCurrentEQ(eqID)">
                    <option 
                      v-for="eq in eqs" 
                      v-bind:value="eq.EquipmentID" 
                      v-bind:key="eq.EquipmentID">
                      {{ eq.Name }}
                    </option>
                  </select>
                </div>
                
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="equipment-activeFilterCheck" checked
                    v-on:change="updateEquipmentList(eqID)">
                  <label class="form-check-label" for="equipment-activeFilterCheck">Hide Inactive</label>
                </div>
                
                <hr>
              </form>
              
              <div id="equipment-narrative" class="alert alert-info"
                v-bind:class=" { 'alert-danger': error, 'alert-warning': dirty } "> 
                {{ notificationText }}
              </div>
              
              <div class="form-row">
                <div class="col-md-2">
                  <button id="equipment-edit" type="button" class="btn btn-primary"
                    @click="clickEditEQ()" :disabled="creatingNew"> {{ editButtonText }}</button>
                </div>
                
                <div class="col-md-8">
                  <button id="equipment-new" type="button" class="btn btn-secondary"
                    @click="newEQClick()" :disabled="dirty"> {{ newButtonText }}</button>
                </div>
                
                <div class="col-md-2">
                  <button id="equipment-cancel" type="button" class="btn btn-secondary float-right" 
                    @click="cancelEQ()" :disabled="locked">Cancel</button>
                </div>
              </div>
              
              <hr>
              
              <form id="equipmentForm">
                <fieldset id="equipmentFieldset" :disabled="locked">
                  
                  <div class="form-group row">
                    <label for="equipment-modelSelect" class="col-sm-2 col-form-label">Model</label>
                    <div class="col-sm-10">
                      <select class="form-control" id="equipment-modelSelect" 
                        v-model="currentEQ.EquipmentModelID" 
                        v-select="currentEQ.EquipmentModelID"
                        :disabled="locked">
                        <option 
                          v-for="model in models" 
                          v-bind:value="model.EquipmentModelID" 
                          v-bind:key="model.EquipmentModelID">
                          {{ model.Name }}
                        </option>
                      </select>
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="equipment-serialNumber" class="col-sm-2 col-form-label">Serial Number</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="equipment-serialNumber"
                        v-model="currentEQ.SerialNumber">
                    </div>

                    <label for="site-active" class="col-sm-2 col-form-label">Active</label>
                    <div class="col-sm-4">
                      <input type="checkbox" class="form-check-input" id="site-active" 
                        v-model="currentEQ.Active">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="equipment-lastCalibrationDate" class="col-sm-2 col-form-label">
                      Last Calibrated On</label>
                    <div class="col-sm-4">
                      <input type="date" class="form-control" id="equipment-lastCalibrationDate"
                        v-model="currentEQ.LastCalibrationDate">
                    </div>
                  </div>
                  
                </fieldset>
              </form>
            </div>
            
            <!-- Equipment Model form -->
            <div class="tab-pane fade" id="v-pills-equipmentModel" role="tabpanel" 
              aria-labelledby="v-pills-equipmentModel-tab">
              
              <form id="em-selectHeader" v-show="!creatingNew">
                <div class="form-group">
                  <select class="form-control" id="emSelect" 
                    v-model="emID" 
                    v-select="emID"
                    v-on:change="getCurrentEM(emID)">
                    <option 
                      v-for="em in ems" 
                      v-bind:value="em.EquipmentModelID" 
                      v-bind:key="em.EquipmentModelID">
                      {{ em.Name }}
                    </option>
                  </select>
                </div>
                
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="equipmentModel-activeFilterCheck" checked
                    v-on:change="updateEquipmentModelList(emID)">
                  <label class="form-check-label" for="equipmentModel-activeFilterCheck">Hide Inactive</label>
                </div>
                
                <hr>
              </form>
              
              <div id="equipmentModel-narrative" class="alert alert-info"
                v-bind:class=" { 'alert-danger': error, 'alert-warning': dirty } "> 
                {{ notificationText }}
              </div>
              
              <div class="form-row">
                <div class="col-md-2">
                  <button id="equipmentModel-edit" type="button" class="btn btn-primary"
                    @click="clickEditEM()" :disabled="creatingNew"> {{ editButtonText }}</button>
                </div>
                
                <div class="col-md-8">
                  <button id="equipmentModel-new" type="button" class="btn btn-secondary"
                    @click="newEMClick()" :disabled="dirty"> {{ newButtonText }}</button>
                </div>
                
                <div class="col-md-2">
                  <button id="equipmentModel-cancel" type="button" class="btn btn-secondary float-right" 
                    @click="cancelEM()" :disabled="locked">Cancel</button>
                </div>
              </div>
              
              <hr>
              
              <form id="equipmentModelForm">
                <fieldset id="equipmentModelFieldset" :disabled="locked">
                  
                  <div class="form-group row"
                    v-show="!creatingNew">
                    <p>There {{ currentEM.EquipmentCount == 1 ? 'is 1' : 'are ' + currentEM.EquipmentCount }} 
                      in inventory.</p>
                  </div>
                  
                  <div class="form-group row">
                    <label for="site-active" class="col-sm-2 col-form-label">Active</label>
                    <div class="col-sm-10">
                      <input type="checkbox" class="form-check-input" id="site-active" 
                        v-model="currentEM.Active">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="equipmentModel-name" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="equipmentModel-name"
                        v-model="currentEM.Name">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="equipmentModel-manufacturer" class="col-sm-2 col-form-label">Manufacturer</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="equipmentModel-manufacturer"
                        v-model="currentEM.Manufacturer">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="equipmentModel-description" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" id="equipmentModel-description" rows="5"
                        v-model="currentEM.Description"></textarea>
                    </div>
                  </div>
                  
                </fieldset>
              </form>
            </div>
            
            <!-- Parameter -->
            <div class="tab-pane fade" id="v-pills-parameter" role="tabpanel" 
              aria-labelledby="v-pills-parameter-tab">
              
              <form id="param-selectHeader" v-show="!creatingNew">
                <div class="form-group">
                  <select class="form-control" id="paramSelect" 
                    v-model="ParameterID" 
                    v-select="ParameterID"
                    v-on:change="getCurrentParameter(ParameterID)">
                    <option 
                      v-for="param in params" 
                      v-bind:value="param.ParameterID" 
                      v-bind:key="param.ParameterID">
                      {{ param.Name }}
                    </option>
                  </select>
                </div>
                
                <hr>
              </form>
              
              <div id="parameter-narrative" class="alert alert-info"
                v-bind:class=" { 'alert-danger': error, 'alert-warning': dirty } "> 
                {{ notificationText }}</div>
              
              <div class="form-row">
                <div class="col-md-2">
                  <button id="parameter-edit" type="button" class="btn btn-primary"
                    @click="clickEditParameter()" :disabled="creatingNew"> {{ editButtonText }}</button>
                </div>
                <div class="col-md-8">
                  <button id="parameter-new" type="button" class="btn btn-secondary"
                    @click="newParameterClick()" :disabled="dirty"> {{ newButtonText }}</button>
                </div>
                <div class="col-md-2">
                  <button id="parameter-cancel" type="button" class="btn btn-secondary float-right"
                    @click="cancelParameter()" :disabled="locked">Cancel</button>
                </div>
              </div>
              
              <hr>
              
              <form id="parameterForm">
                <fieldset id="parameterFieldset" :disabled="locked">
                  
                  <div class="form-group row">
                    <label for="parameter-name" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="parameter-name"
                        v-model="currentParameter.Name">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="parameter-cas" class="col-sm-2 col-form-label">CAS</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="parameter-cas"
                        v-model="currentParameter.CAS">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="parameter-description" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" id="parameter-description" rows="5"
                        v-model="currentParameter.Description"></textarea>
                    </div>
                  </div>
                  
                </fieldset>
              </form>
            </div>
            
            <!-- Method -->
            <div class="tab-pane fade" id="v-pills-method" role="tabpanel" 
              aria-labelledby="v-pills-method-tab">
              <form id="method-selectHeader" v-show="!creatingNew">
                <div class="form-group">
                  <select class="form-control" id="methodSelect" 
                    v-model="MethodID" 
                    v-select="MethodID"
                    v-on:change="getCurrentMethod(MethodID)">
                    <option 
                      v-for="method in methods" 
                      v-bind:value="method.MethodID" 
                      v-bind:key="method.MethodID">
                      {{ method.Name }}
                    </option>
                  </select>
                </div>
                
                <hr>
              </form>
              
              <div id="method-narrative" class="alert alert-info"
                v-bind:class=" { 'alert-danger': error, 'alert-warning': dirty } "> 
                {{ notificationText }}</div>
              
              <div class="form-row">
                <div class="col-md-2">
                  <button id="method-edit" type="button" class="btn btn-primary"
                    @click="clickEditMethod()" :disabled="creatingNew"> {{ editButtonText }}</button>
                </div>
                <div class="col-md-8">
                  <button id="method-new" type="button" class="btn btn-secondary"
                    @click="newMethodClick()" :disabled="dirty"> {{ newButtonText }}</button>
                </div>
                <div class="col-md-2">
                  <button id="method-cancel" type="button" class="btn btn-secondary float-right"
                    @click="cancelMethod()" :disabled="locked">Cancel</button>
                </div>
              </div>
              
              <hr>
              
              <form id="methodForm">
                <fieldset id="methodFieldset" :disabled="locked">
                  
                  <div class="form-group row">
                    <label for="method-code" class="col-sm-2 col-form-label">Code</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="method-code"
                        v-model="currentMethod.Code">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="method-description" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" id="method-description" rows="5"
                        v-model="currentMethod.Description"></textarea>
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="method-reference" class="col-sm-2 col-form-label">Reference</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" id="method-reference" rows="5"
                        v-model="currentMethod.Reference"></textarea>
                    </div>
                  </div>
                  
                </fieldset>
              </form>
            </div>
            
            <!-- Unit -->
            <div class="tab-pane fade" id="v-pills-unit" role="tabpanel" 
              aria-labelledby="v-pills-unit-tab">
              
              <form id="unit-selectHeader" v-show="!creatingNew">
                <div class="form-group">
                  <select class="form-control" id="unitSelect" 
                    v-model="UnitID" 
                    v-select="UnitID"
                    v-on:change="getCurrentUnit(UnitID)">
                    <option 
                      v-for="unit in units" 
                      v-bind:value="unit.UnitID" 
                      v-bind:key="unit.UnitID">
                      {{ unit.Symbol }}
                    </option>
                  </select>
                </div>
                
                <hr>
              </form>
              
              <div id="unit-narrative" class="alert alert-info"
                v-bind:class=" { 'alert-danger': error, 'alert-warning': dirty } "> 
                {{ notificationText }}</div>
              
              <div class="form-row">
                <div class="col-md-2">
                  <button id="unit-edit" type="button" class="btn btn-primary"
                    @click="clickEditUnit()" :disabled="creatingNew"> {{ editButtonText }}</button>
                </div>
                <div class="col-md-8">
                  <button id="unit-new" type="button" class="btn btn-secondary"
                    @click="newUnitClick()" :disabled="dirty"> {{ newButtonText }}</button>
                </div>
                <div class="col-md-2">
                  <button id="unit-cancel" type="button" class="btn btn-secondary float-right"
                    @click="cancelUnit()" :disabled="locked">Cancel</button>
                </div>
              </div>
              
              <hr>
              
              <form id="unitForm">
                <fieldset id="unitFieldset" :disabled="locked">
                  
                  <div class="form-group row">
                    <label for="unit-symbol" class="col-sm-2 col-form-label">Symbol</label>
                    <div class="col-sm-4">
                      <input type="text" maxlength='10' class="form-control" id="unit-symbol"
                        v-model="currentUnit.Symbol">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="unit-description" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" id="unit-description" rows="5"
                        v-model="currentUnit.Description"></textarea>
                    </div>
                  </div>
                  
                </fieldset>
              </form>
            </div>
            
            <!-- Qualifier -->
            <div class="tab-pane fade" id="v-pills-qualifier" role="tabpanel" 
              aria-labelledby="v-pills-qualifier-tab">
              
              <form id="qualifier-selectHeader" v-show="!creatingNew">
                <div class="form-group">
                  <select class="form-control" id="qualifierSelect" 
                    v-model="QualifierID" 
                    v-select="QualifierID"
                    v-on:change="getCurrentQualifier(QualifierID)">
                    <option 
                      v-for="qualifier in qualifiers" 
                      v-bind:value="qualifier.QualifierID" 
                      v-bind:key="qualifier.QualifierID">
                      {{ qualifier.Code }}
                    </option>
                  </select>
                </div>
                
                <hr>
              </form>
              
              <div id="qualifier-narrative" class="alert alert-info"
                v-bind:class=" { 'alert-danger': error, 'alert-warning': dirty } "> 
                {{ notificationText }}</div>
              
              <div class="form-row">
                <div class="col-md-2">
                  <button id="qualifier-edit" type="button" class="btn btn-primary"
                    @click="clickEditQualifier()" :disabled="creatingNew"> {{ editButtonText }}</button>
                </div>
                <div class="col-md-8">
                  <button id="qualifier-new" type="button" class="btn btn-secondary"
                    @click="newQualifierClick()" :disabled="dirty"> {{ newButtonText }}</button>
                </div>
                <div class="col-md-2">
                  <button id="qualifier-cancel" type="button" class="btn btn-secondary float-right"
                    @click="cancelQualifier()" :disabled="locked">Cancel</button>
                </div>
              </div>
              
              <hr>
              
              <form id="qualifierForm">
                <fieldset id="qualifierFieldset" :disabled="locked">
                  
                  <div class="form-group row">
                    <label for="qualifier-code" class="col-sm-2 col-form-label">Code</label>
                    <div class="col-sm-4">
                      <input type="text" maxlength='3' class="form-control" id="qualifier-code"
                        v-model="currentQualifier.Code">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="qualifier-description" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" id="qualifier-description" rows="5"
                        v-model="currentQualifier.Description"></textarea>
                    </div>
                  </div>
                  
                </fieldset>
              </form>
            </div>
            
            <!-- User form -->
            <div class="tab-pane fade" id="v-pills-user" role="tabpanel" 
              aria-labelledby="v-pills-user-tab">
              
              <form id = "user-selectHeader">
                <div class="form-group">
                  <select class="form-control" id="userSelect">
                    <option>Loading...</option>
                  </select>
                </div>
                
                <hr />
              </form>
              
              <div id="user-narrative" class="alert alert-info">Loading...</div>
              
              <form id="userForm">
                <fieldset id="userFieldset" disabled>
                  
                  <div class="form-group row">
                    <label for="user-name" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="user-name">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="user-phone" class="col-sm-2 col-form-label">Phone</label>
                    <div class="col-sm-10">
                      <input type="tel" class="form-control" id="user-phone">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="user-email" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="user-email">
                    </div>
                  </div>
                  
                </fieldset>
              </form>
              
              <hr />
              
              <div class="form-row">
                <div class="col-md-2">
                  <button id="user-edit" type="button" class="btn btn-primary">Edit</button>
                </div>
                <div class="col-md-6">
                  <button id="user-update" type="button" class="btn btn-primary" disabled>Update</button>
                </div>
                <div class="col-md-2">
                  <button id="user-new" type="button" class="btn btn-secondary float-right">New</button>
                </div>
                <div class="col-md-2">
                  <button id="user-cancel" type="button" class="btn btn-secondary float-right" disabled>Cancel</button>
                </div>
              </div>
              
            </div>


          </div>
        </div>
    </div>
    
    <footer class="footer fixed-bottom">
      <div class="container-fluid">
        <div class="row">

        </div>
      </div>
    </footer>
    
  </body>
  <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
  <script src="../../node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
  <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="../../node_modules/select2/dist/js/select2.min.js"></script>
  <script src="../js/metadata_bundle.js"></script>
</html>