USE [GDATA]
GO
/****** Object:  Table [dbo].[tblWQParameter]    Script Date: 01/29/2021 11:22:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblWQParameter](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](125) NOT NULL,
	[CAS] [varchar](12) NULL,
	[notes] [varchar](255) NULL,
 CONSTRAINT [PK_tblWQParameter] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblWQParameter] ON 

INSERT [dbo].[tblWQParameter] ([id], [name], [CAS], [notes]) VALUES (1, N'phos', N'68476-34-6', NULL)
INSERT [dbo].[tblWQParameter] ([id], [name], [CAS], [notes]) VALUES (2, N'zvcb', NULL, NULL)
INSERT [dbo].[tblWQParameter] ([id], [name], [CAS], [notes]) VALUES (3, N'*', N'*', NULL)
GO
SET IDENTITY_INSERT [dbo].[tblWQParameter] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblWQParameter_name]    Script Date: 01/29/2021 11:22:57 AM ******/
ALTER TABLE [dbo].[tblWQParameter] ADD  CONSTRAINT [IX_tblWQParameter_name] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
