USE [GDATA]
GO
/****** Object:  Table [dbo].[tblWQMethod]    Script Date: 01/29/2021 11:22:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblWQMethod](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](25) NOT NULL,
	[description] [varchar](1000) NULL,
	[reference] [varchar](300) NULL,
 CONSTRAINT [PK_tblWQMethod] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblWQMethod] ON 

INSERT [dbo].[tblWQMethod] ([id], [code], [description], [reference]) VALUES (1, N'EPA110.2', N'Color, Colorimetric, Platinum-Cobalt (pH 7.6)', NULL)
INSERT [dbo].[tblWQMethod] ([id], [code], [description], [reference]) VALUES (2, N'EPA1104', N'E. coli in Water using EC Medium with MUG Multiple Tube Procedure', NULL)
INSERT [dbo].[tblWQMethod] ([id], [code], [description], [reference]) VALUES (3, N'EPA1105', N'E. coli in Water using Nutrient Agar with MUG Membrane Filtration', NULL)
GO
SET IDENTITY_INSERT [dbo].[tblWQMethod] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblWQMethod_code]    Script Date: 01/29/2021 11:22:57 AM ******/
ALTER TABLE [dbo].[tblWQMethod] ADD  CONSTRAINT [IX_tblWQMethod_code] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
